<div id="note-content" class="col-xs-8">
  <div id="note-canvas">
  </div>
</div>

<div class="col-xs-4 white-container">
<%= simple_form_for @note do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :description %>
  <%= f.input :visibility, as: :select, collection: Note.visibilities.keys %>
  <%= f.input :body_type, as: :select, collection: Note.body_types.keys %>
  <%= f.button :submit, class: "btn btn-success btn-lg btn-block" %>
<% end %>
</div>