<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @note.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @note.visibility %>
</p>

<p>
  <strong>Type:</strong>
  <%= @note.type %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
