<%
title @note.title
description "#{@note.title} sheet music on SheetHub, the easiest publishing platform built for musicians. #{@note.description}"
%>

<div class="container">
  <div class="row">
    <div id="note-content" class="col-xs-9">
      <div class="white-container">
      <div id="sheet-header">
        <h1><%= link_to @note.title, note_url(@note) %></h1>
        <h4>By <a href="<%= user_profile_url(subdomain: @note.user.username) %>" class="sheet-author"><%= @note.user.display_name %></a> <%= render 'layouts/user_badge', user: @note.user%></h4>
        <hr>
      </div>

      <textarea hidden id="note_body">
        <%= @note.body %>
      </textarea>
      <div id="note-canvas">
      </div>

      </div>
      <%= render 'layouts/disqus' %>
    </div>

    <div class="col-xs-3 zeropadding">
      <div id="sheet-info" class="panel panel-info">
        <div class="panel-body" style="padding-bottom: 5px">
          <p><%= @note.description %></p>
        </div>

          <ul class="list-group">
              <li class="list-group-item flat-tags well">
                  <a href="<%= edit_note_url(@note) %>">
                    <button type="button" class="btn btn-success btn-block"><em class="fa fa-edit"></em> Edit</button>
                 </a>
              </li>
          </ul>
      </div>
    </div>
</div>
