<% if sheets.any? %>
  <table class="table white-rows">
    <thead>
      <tr class="active">
        <th>Title</th>
        <th>Visibility</th>
        <th>Downloads</th>
        <th>Downloads Left</th>
        <th>Total Revenue</th>
        <th>Total Earnings</th>
        <th>Average Amount</th>
        <th>Max Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% sheets.each do |sheet| %>
        <tr>
          <td>
            <a href="<%= sheet_url(sheet) %>"><%= sheet.title %></a>
          </td>
          <td>
            <%= sheet.visibility_string %>
          </td>
          <td>
            <%= sheet.completed_orders.size %>
          </td>
          <td>
            <%= sheet.in_stock? ? 'No limits' : sheet.limit_purchase_quantity %>
          </td>
          <td>
            <%= number_to_currency(sheet.total_sales) %>
          </td>
          <td>
            <%= number_to_currency(sheet.total_earnings) %>
          </td>
          <td>
            <%= number_to_currency(sheet.average_sales) %>
          </td>
          <td>
            <%= number_to_currency(sheet.maximum_sale) %>
          </td>
          <td>
            <p><a href="<%= edit_sheet_url(sheet) %>"> Edit </a></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="paginator" class="text-center">
    <%= paginate sheets %>
  </div>
<% else %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em> You have no published works</h2>
<% end %>
