<%= cache("profile_banner_#{user.username}_#{user.updated_at}") do %>
<div id="banner" class="profile-banner">
    <%= render "social_links", user: user %>
    <%= image_tag(user.avatar_url, class: "profile-avatar") %>
    <div class="profile-bio">
      <h1><%= user.display_name %><%= render 'layouts/user_badge', user: user unless user.basic?%></h1>
      <ul class="list-inline">
        <% if user.country.present? %>
          <li><p><em class="fa fa-map-marker"></em> <%= user.country %></p></li>
        <% end %>
        <% if user.website? %>
          <li><p><a href="<%= url_with_protocol(user.website) %>" target="_blank"><em class="fa fa-home"></em> <%= user.website %></a></p></li>
        <% end %>
        <% if user.tagline? %>
          <li><p class="tagline"><em class="fa fa-info-circle"></em> <%= user.tagline %></p></li>
        <% end %>
      </ul>
    </div>
</div>
<% end %>