<div id="banner" class="profile-banner">
    <%= image_tag(user.avatar_url, class: "profile-avatar") %>
    <div class="profile-bio">
      <h1><%= user.display_name %></h1>
      <% if user.tagline? %><p><i class="fa fa-comment-o"></i> <%= user.tagline %></p><% end %>
      <% if user.website? %><p><a href="<%= url_with_protocol(user.website) %>" target="_blank"><i class="fa fa-home"></i> <%= user.website %></a></p><% end %>
    </div>
</div>