<% if sales.any? %>
  <table class="table table-striped">
    <thead class="bg-info">
      <tr>
        <th><i class="fa fa-calendar"></i> Sale date</th>
        <th><i class="fa fa-music"></i> Sheet</th>
        <th><i class="fa fa-user"></i> Buyer</th>
        <th><i class="fa fa-usd"></i> Estimated Earning <a href="<%= faq_path %>#earnings-calculation"><i class="fa fa-question-circle"></i></a></th>
      </tr>
    </thead>
    <tbody>
        <% sales.each do |order| %>
          <tr>
            <td><%= order.purchased_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
            <td><%= link_to order.sheet.title, sheet_path(order.sheet) %></td>
            <td><%= link_to order.user.username, user_profile_path(order.user.username) %></td>
            <td><%= number_to_currency(order.sheet.royalty) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="text-center"><i class="fa fa-eye-slash"></i></h2>
  <h2 class="text-center">You have no sales yet.</h2>
<% end %>