<% if sales.any? %>
  <table class="table table-bordered table-striped white-container">
    <thead class="bg-info">
      <tr>
        <th><em class="fa fa-calendar"></em> Sale date</th>
        <th><em class="fa fa-music"></em> Sheet Music</th>
        <th><em class="fa fa-user"></em> Buyer</th>
        <th><em class="fa fa-usd"></em> Amount</th>
        <th><em class="fa fa-usd"></em> Estimated Earning <a href="<%= faq_path %>#earnings-calculation"><em class="fa fa-question-circle"></em></a></th>
      </tr>
    </thead>
    <tbody>
        <% sales.find_each do |order| %>
          <tr>
            <td><%= order.purchased_at.strftime("%A, %e %B %Y %l:%M %p") %></td>
            <td><%= link_to order.sheet.title, sheet_url(order.sheet) %></td>
            <td><%= link_to order.user.display_name, user_profile_url(subdomain: order.user.username) %></td>
            <td><%= number_to_currency(order.amount) %></td>
            <td><%= number_to_currency(order.royalty) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
  <h2 class="text-center">You have no sales yet.</h2>
<% end %>