<div class="tab-pane active" id="sales-by-date">
  <% if @sales_past_month.any? %>
    <%= line_chart @sales_past_month.group_by_day(:purchased_at).count %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sale date</th>
          <th>Sheet</th>
          <th>Buyer</th>
          <th>Estimated Earning <a href="<%= faq_path %>#earnings-calculation"><span class="glyphicon glyphicon-question-sign"></span></a></th>
        </tr>
      </thead>
      <tbody>
          <% @sales_past_month.each do |order| %>
            <tr>
              <td><%= order.purchased_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
              <td><%= link_to order.sheet.title, sheet_path(order.sheet) %></td>
              <td><%= link_to order.user.username, user_profile_path(order.user.username) %></td>
              <td><%= number_to_currency(order.sheet.royalty) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% else %>
    <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
    <h2>You have no sales yet.</h2>
  <% end %>
  <h4>Promote your sheets through the Share buttons to sell and earn more.</h4>
</div>