<%= cache("user_detailed_#{user.username}_#{user.updated_at}") do %>
<a href="<%= user_profile_url(subdomain: user.username) %>" title="<%= user.display_name %>">
<div class="col-xs-6 user-container">
    <%= image_tag(user.avatar_url, class: "medium-avatar pull-left", title:user.display_name) %>
    <div class="user-bio ">
    <div class="pull-left">
      <h3><%= user.display_name %></h3>
      <ul class="list-inline">
        <% if user.country.present? %>
          <li><p><em class="fa fa-map-marker"></em> <%= user.country %></p></li>
        <% end %>
      </ul>
    </div>
    <% unless user.sheets.count.zero? %><p class='pull-right'><%= user.sheets.count %> Sheets</p> <% end %>
  </div>
</div>
</a>
<% end %>
