<div class="col-xs-2 user-dashboard-sidebar">
    <ul class="nav nav-pills nav-stacked">
      <% if current_user.has_published %>
          <h5>Store</h5>

          <li><a href="<%= user_dashboard_url %>"><em class="fa fa-inbox"></em> Dashboard</a></li>
          <li><a href="<%= user_sales_url %>"><em class="fa fa-bar-chart-o"></em> Sales</a></li>
          <li><a href="<%= user_trash_url %>"><em class="fa fa-trash"></em> Trash</a></li>
          <hr>
      <% end %>

        <h5>Purchases</h5>
        <li><a href="<%= user_library_url %>"><em class="fa fa-download"></em> My Library</a></li>
        <hr>

        <h5>Account</h5>
        <li role="presentation"><a href="<%= user_settings_path %>"><em class="fa fa-cog"></em> Edit Profile</a></li>
        <% unless current_user.provider? %>
        <li role="presentation"><a href="<%= user_password_settings_path %>"><em class="fa fa-key"></em> Change Password</a></li>
        <% end %>
        <li role="presentation"><a href="<%= user_membership_settings_path %>"><em class="fa fa-star"></em> Membership</a></li>
        <hr>
    </ul>
</div>