<% title "Membership Settings"  %>

<div class="container">
    <div class="row">
      <%= render 'user_dashboard_sidebar' %>
      <div class="col-xs-10 white-container">
        <h2>My Membership</h2>
        <hr>
        <%= render 'membership_details', user:@user %>
        <%= render 'membership_billing_details', payment_details: @payment_details %>

        <% unless @user.pro? %>
          <a href="<%= upgrade_url %>"><button type="button" class="btn btn-success"><em class="fa fa-star"></em> Upgrade</button></a>
        <% end %>

        <%= render 'downgrade_panel', user:@user %>
      </div>
  </div>
</div>
