<% title "Settings"  %>

<div class="container">
    <div class="row">
      <h1>Profile Settings</h1>

      <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="<%= user_settings_path %>"><em class="fa fa-cog"></em> Profile</a></li>
          <% unless current_user.provider? %>
          <li role="presentation"><a href="<%= user_password_settings_path %>"><em class="fa fa-key"></em> Password</a></li>
          <% end %>
          <li role="presentation"><a href="<%= user_membership_settings_path %>"><em class="fa fa-star"></em> Membership</a></li>
        </ul>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }, defaults: { input_html: { class: 'form-control' }}) do |f| %>
        <%= f.error_notification %>

        <div class="col-xs-10 white-container">
        <div class="col-xs-5">

        <div class="form-inputs">
          <%= f.input :username %>
          <%= f.label :paypal_email %> <a href="<%= support_url %>#paypal-transfer"><em class="fa fa-question-circle"></em></a>
          <%= f.input_field :paypal_email, placeholder: "Your Paypal account email to send earnings to", autofocus: true %>

          <%= f.label :timezone %><br />
          <%= f.time_zone_select :timezone %>

          <%= f.input :first_name %>
          <%= f.input :last_name %>

          <%= f.input :tagline, placeholder: "Something interesting about you", autofocus: true %>
          <%= f.input :website, placeholder: "Your personal website", autofocus: true %>

          <div class="form-actions">
            <%= f.button :submit, "Update Profile", class: "btn btn-success btn-lg btn-block" %>
          </div>
        </div>

        </div>

          <div class="col-xs-7">
            <%= f.label :avatar %>
            <p class="bg-info"><em class="fa fa-camera-retro"></em> Avatar dimensions can be up to 300x300 pixels or less. </p>
            <div class="avatar-input well">
              <%= image_tag resource.avatar_url, id: 'avatar-preview' %>
              <%= f.file_field :avatar, onchange: "readUploadImage(this)" %>
            </div>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
