<% title "Settings"  %>

<div class="container">
    <div class="row">
      <%= render 'user_dashboard_sidebar' %>
      <%= simple_form_for(resource, as: resource_name, url: registration_url(resource_name), html: { method: :put, multipart: true }) do |f| %>
        <%= f.error_notification %>

        <div class="col-xs-10 white-container">
        <h2>Edit Your Personal Profile</h1>
        <hr>

        <div class="col-xs-5 zerohorizontalpadding">

        <div class="form-inputs">
          <label class="string control-label">Email</label>
          <input class="string form-control" type="string" value="<%= resource.email %>" readonly>

          <label class="string control-label">Username</label>
          <input class="string form-control" type="string" value="<%= resource.username %>" readonly>
        </div>
        <hr>

        <div class="form-inputs">
          <%= f.label :paypal_email, label: 'PayPal Email' %> <a href="<%= support_url %>#paypal-transfer"><em class="fa fa-question-circle"></em></a>
          <%= f.input_field :paypal_email, placeholder: "Your Paypal account email to send earnings to", autofocus: true %>
          <hr>

          <%= f.input :first_name %>
          <%= f.input :last_name %>

          <%= f.input :tagline, placeholder: "Something interesting about you", autofocus: true %>
          <%= f.input :website, placeholder: "Your personal website", autofocus: true %>

          <%= render 'billing_address_form_inputs', f: f %>

          <div class="form-actions">
            <%= f.button :submit, "Update Profile", class: "btn btn-success" %>
          </div>
        </div>

        </div>

          <div class="col-xs-7">
            <%= f.label :avatar %>
            <p class="bg-info"><em class="fa fa-camera-retro"></em> Avatar dimensions can be up to 300x300 pixels or less. </p>
            <div class="avatar-input well">
              <%= image_tag resource.avatar_url, id: 'avatar-preview' %>
              <%= f.file_field :avatar, onchange: "readUploadImage(this)" %>
            </div>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
