<% title "Settings"  %>

<div class="container">
    <div class="row">
      <%= render 'user_dashboard_sidebar' %>
        <div class="col-xs-10 white-container">
          <%= simple_form_for(resource, as: resource_name, url: registration_url(resource_name), html: { method: :put, multipart: true }) do |f| %>
            <%= f.error_notification %>

          <h2>Update My Personal Profile</h1>
          <hr>

          <div class="col-xs-5 zerohorizontalpadding">

          <div class="form-inputs">
            <label class="string control-label">Username</label>
            <input class="string form-control" type="string" value="<%= resource.username %>" readonly>

            <label class="string control-label">Email</label>
            <input class="string form-control" type="string" value="<%= resource.email %>" readonly>

            <%= f.label :paypal_email, label: 'PayPal Email' %> <a href="<%= support_url %>#paypal-transfer"><em class="fa fa-question-circle"></em></a>
            <%= f.input_field :paypal_email, placeholder: "Your Paypal account email to send earnings to", autofocus: true %>
          </div>
          <hr>

          <div class="form-inputs">
            <%= f.input :first_name %>
            <%= f.input :last_name %>

            <%= f.input :tagline, placeholder: "Something interesting about you", autofocus: true %>


            <hr >
            <%= f.input :website, label: "Personal Website", placeholder: "http://sheethub.co", autofocus: true %>
            <%= f.input :facebook_username, placeholder: "SheetHub" %>
            <%= f.input :twitter_username, placeholder: "SheetHub" %>
            <%= f.input :googleplus_username, placeholder: "SheetHub", label: "Google+ username" %>
            <%= f.input :soundcloud_username, placeholder: "SheetHub", label: "SoundCloud username" %>
            <%= f.input :youtube_username, placeholder: "user/Username", label: "YouTube link" %>

            <%= render 'billing_address_form_inputs', f: f %>

            <div class="form-actions">
              <%= f.button :submit, "Update Profile", class: "btn btn-success btn-lg" %>
            </div>
          </div>

        </div>

          <div class="col-xs-7">
            <%= f.label :avatar %>
            <p class="bg-info"><em class="fa fa-camera-retro"></em> Avatar dimensions can be up to 300x300 pixels or less. </p>
            <div class="avatar-input well">
              <%= image_tag resource.avatar_url, id: 'avatar-preview' %>
              <%= f.file_field :avatar, onchange: "readUploadImage(this)" %>
            </div>

            <%= f.input :about, as: :bootsy %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
