<% title "Edit Your Profile"  %>

<div class="container">
    <div class="row">

    <div class="col-xs-6 col-xs-offset-3">
      <h2>Edit Your Profile</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, defaults: { input_html: { class: 'form-control' }}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :tagline, placeholder: "Something interesting about you", autofocus: true %>
          <%= f.input :website, placeholder: "Your personal website", autofocus: true %>
          <%= f.input :bio, placeholder: "Tell us a little bit about yourself!", autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-success btn-lg btn-wide" %>
        </div>
      <% end %>

      <%= link_to "Back", profile_path(current_user.username)%>
    </div>
  </div>
</div>
