<% title "Membership Settings"  %>

<div class="container">
    <div class="row">
      <h1>Membership Settings</h1>

      <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="<%= user_settings_path %>"><em class="fa fa-cog"></em> Profile</a></li>
          <% unless current_user.provider? %>
          <li role="presentation"><a href="<%= user_password_settings_path %>"><em class="fa fa-key"></em> Password</a></li>
          <% end %>
          <li role="presentation" class="active"><a href="<%= user_membership_settings_path %>"><em class="fa fa-star"></em> Membership</a></li>
        </ul>
      </div>

        <div class="col-xs-10 white-container">
          <% if @user && @user.basic? %>
            <p class="bg-info"><em class="fa fa-info-circle"></em><a href="<%= upgrade_path %>"> Upgrade</a> now to enjoy unlimited free uploads and extra features.</p>
          <% elsif @user && (@user.plus? || @user.pro?) %>
            <p class="bg-primary"><em class="fa fa-smile-o"></em> Thank you for supporting SheetHub! Together we can make SheetHub a great community for musicians! </p>
          <% end %>


          <%= render 'membership_details', user:@user %>
          <%= render 'membership_billing_details', payment_details: @payment_details %>

          <% unless @user.pro? %>
            <a href="<%= upgrade_path %>"><button type="button" class="btn btn-lg btn-success"><em class="fa fa-star"></em> Upgrade</button></a>
          <% end %>

          <%= render 'downgrade_panel', user:@user %>


        </div>
  </div>
</div>
