<% title "#{@user.display_name}'s Favorites"  %>

<%= render 'profile_banner', user:@user %>
<div class="nav-strip nav-strip-profile">
<div class="container-fluid">
<ul class="list-inline">
  <li><a href="<%= user_profile_path(@user.username) %>"><i class="fa fa-music"></i> Sheet Music</a></li>
  <li class="active"><a href="<%= user_favorites_path(@user.username) %>"><i class="fa fa-star"></i> Favorites <span class="badge"><%= @favorites.count %></span></a></li>
</ul>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @favorites.any? %>
          <%= render 'favorites', favorites: @favorites %>
        <% else %>
          <h2 class="text-center"><i class="fa fa-eye-slash"></i></h2>
          <% if @user == current_user %>
            <h2 class="text-center">You have no favorites.</h2>
            <a href="<%= root_path %>" class="btn btn btn btn-success btn-sleek center-block"><span class="fa fa-picture"></span> Browse</a>
          <% else %>
            <h2 class="text-center">This user has no favorites.</h2>
          <% end %>
        <% end %>

      </div>
  </div>
</div>