<div class="container">
  <div class="row">
    <h2>Please pick your username</h2>

    <div class="col-lg-4 col-lg-offset-4">
    <%= simple_form_for current_user, url: finish_registration_path(current_user), method: :patch do |f| %>
      <%= f.input :username, label: 'Your username' %>
      <%= f.input :tagline, label: 'Your tagline (Optional)' %>
      <%= f.input :website, label: 'Your website (Optional)' %>
      <%= f.input :bio, label: 'A little about yourself (Optional)' %>
      <%= f.button :submit, "Continue" %>
    <% end %>
    </div>
  </div>
</div>