<div class="container">
  <div class="row">
    <h2 class="text-center">Please pick your username</h2>

    <div class="col-lg-4 col-lg-offset-4 white-container">

    <%= simple_form_for current_user, url: finish_registration_path(current_user), method: :patch do |f| %>
      <%= f.input :username, label: 'Your username', placeholder: 'You can use both upper and lower case', autofocus: true %>
      <%= f.input :tagline, label: 'Your tagline (Optional)', placeholder: "Something interesting about you" %>
      <%= f.input :website, label: 'Your website (Optional)', placeholder: "Your personal website" %>
      <%= f.input :paypal_email, label: 'Paypal Email', placeholder:'Required for sellers to accept purchases' %>
      <div id="form-terms">
        <%= f.check_box :terms %>
        <p>I accept SheetHub's <%= link_to "Terms of Use", terms_path %>
          and <%=link_to "Privacy Policy", privacy_path %></p>
      </div>
      <%= f.button :submit, "Continue" %>
    <% end %>
    </div>
  </div>
</div>