<div class="container">
  <div class="row">
    <h2 class="text-center">Please pick your username</h2>

    <div class="col-lg-4 col-lg-offset-4 white-container">

    <%= simple_form_for current_user, url: finish_registration_url(current_user), method: :patch do |f| %>
      <%= f.input :username, label: 'Your Username', placeholder: 'Usernames are not case sensitive', autofocus: true %>
      <%= f.label :paypal_email, label: 'PayPal Email' %>
      <%= f.input_field :paypal_email, label: 'Paypal Email', placeholder:'Required for authors to accept payments' %>

      <%= render 'billing_address_form_inputs', f: f %>

      <%= f.button :submit, "Continue", class:"btn btn-success btn-block btn-lg" %>
    <% end %>
    </div>
  </div>
</div>