<% title "#{@user.display_name}'s Likes"  %>

<%= render 'profile_banner', user:@user %>
<div class="nav-strip nav-strip-profile">
<div class="container-fluid">
<ul class="list-inline">
  <li><h4><a href="<%= user_profile_url(subdomain: @user.username) %>">Works</a></h4></li>
  <li class="active"><h4><a href="<%= user_likes_url(subdomain: @user.username) %>">Likes</a> <span class="fade-text"><%= @likes.count %></h4></li>
</ul>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @likes.any? %>
          <%= render 'likes', likes: @likes %>
        <% else %>
          <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
          <% if @user == current_user %>
            <h2 class="text-center">You have no likes.</h2>
            <a href="<%= sheets_url %>" class="btn btn-success btn-sleek center-block"><em class="fa fa-eye"></em> Discover</a>
          <% else %>
            <h2 class="text-center">This user has no likes.</h2>
          <% end %>
        <% end %>

      </div>
  </div>
</div>