<% title "Sign Up"
   description "Sign Up for free. Get started in minutes."
%>

<div class="container">
  <div class="row">
    <h1 class="text-center">Sign Up</h1>
    <h4 class="text-center fade-text">It takes less than a minute.</h4>

    <div class="col-md-4 col-md-offset-4">
        <div class="white-container">
        <%= render "devise/shared/omniauth_links" %>
        <%= render "layouts/line_divider" %>

        <%= simple_form_for(resource, as: resource_name, url: registration_url(resource_name), defaults: { input_html: { class: 'form-control' }}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <div class="input-group">
              <span class="input-group-addon"><em class="fa fa-envelope-o"></em></span>
                <%= f.input_field :email, required: true, placeholder:'Email', autofocus: true %>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><em class="fa fa-lock"></em></span>
                <%= f.input_field :password, placeholder:'Password', required: true %>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><em class="fa fa-lock"></em></span>
                <%= f.input_field :password_confirmation, placeholder:'Password confirmation', required: true %>
            </div>
        </div>

        <div class="form-actions">
            <%= f.button :submit, "Create Account", class:"btn btn btn-success btn-lg btn-block" %>
        </div>
        <p class="fade-text">By signing up, you agree to SheetHub's <%= link_to "Terms of Service", terms_url %>
          and <%=link_to "Privacy Policy", privacy_url %>.</p>
        <% end %>
        </div>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
