<% title "Sign Up"
   description "Sign Up for free. Get started in minutes."
%>

<div class="container">
  <div class="row">
    <h1 class="text-center">Sign Up For SheetHub</h1>
    <h4 class="text-center fade-text">It takes less than a minute.</h4>

    <div class="col-lg-4 col-lg-offset-4 white-container">
        <%= render "devise/shared/omniauth_links" %>
        <%= render "layouts/line_divider" %>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { input_html: { class: 'form-control' }}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true %>
            <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
            <%= f.button :submit, "Sign Up", class:"btn btn btn-success btn-lg btn-block" %>
        </div>
        <p class="fade-text">By signing up, you agree to SheetHub's <%= link_to "Terms of Service", terms_path %>
          and <%=link_to "Privacy Policy", privacy_path %>.</p>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>