<%
title "#{@user.display_name}"
description @user.tagline
%>

<%= render 'profile_banner', user:@user %>
<div class="nav-strip nav-strip-profile">
<div class="container-fluid">
<ul class="list-inline">

  <li class="active"><h4><a href="<%= user_profile_url(subdomain: @user.username) %>">Works</a> <span class="fade-text"><%= @sheets.count %></span></h4></li>
  <li><h4><a href="<%= user_likes_url(subdomain: @user.username) %>"> Likes </a></h4></li>
  <li><h4><a href="<%= new_user_contact_url(subdomain: @user.username) %>"> Contact </a></h4></li>
  <li data-toggle="tooltip" data-placement="left" title="Feature coming soon" class="pull-right" style="margin-top: 3px;"><a class="disabled btn btn-default"><span class="fa fa-user"></span><span class="fa fa-plus"></span> Follow</a></li>
</ul>
</div>
</div>

<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <%= render 'profile_sheets', sheets: @sheets, user: @user %>
    </div>
  </div>
</div>