<% if @user %>
  <% title "#{@user.username}'s Profile"  %>

  <div id="banner" class="profile-banner">
    <div class="center-block profile-banner-content" >
        <%= image_tag(@user.image, class: "profile-avatar") %>
        <div class="profile-bio">
          <h1><%= @user.username %></h1>
          <p class="tagline"><%= @user.tagline %></p>
          <%= link_to @user.website, @user.website %>
        </div>
    </div>
  </div>

  <div class="container sheets-container">
    <div id="page-content-wrapper">
      <div class="row">
        <div class="col-lg-3 profile-info">
            <div class="well">
                <h4><span class="glyphicon glyphicon-user"></span> <%= @user.username %></h4>
                <em>Member since <%= distance_of_time_in_words(Time.now, @user.created_at) %> ago</em>
                <p><%= @user.bio %></p>

                <% if @user.website %>
                  <a href="<%= url_with_protocol(@user.website) %>" class="btn btn btn-block btn-default"><span class="glyphicon glyphicon-globe"></span> <%= @user.website %></a>
                <% end %>

                <% if @user == current_user %>
                  <a href="<%= edit_user_registration_path %>" class="btn btn btn-block btn-default"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a>
                <% end %>
        </div>
      </div>

        <div class="col-lg-9">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#sheets" role="tab" data-toggle="tab">Sheet Music <span class="badge"><%= @user.sheets.count %></span></a></li>
            <li><a href="#likes" role="tab" data-toggle="tab">Likes <span class="badge"><%= @user.votes.size %></span></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="sheets">
              <% if @sheets.any? %>
                <%= render '/sheets/sheets' %>
              <% else %>
                <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
                <% if @user == current_user %>
                  <h2>You have no sheets. Why not add one?</h2>
                  <a href="<%= new_sheet_path %>" class="btn btn btn btn-success btn-sleek center-block"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
                <% else %>
                  <h2>This user has no sheets.</h2>
                <% end %>
              <% end %>
            </div>
            <div class="tab-pane" id="likes">
              <% if @user.votes.any? %>
                <%= render 'layouts/likes' %>
              <% else %>
                <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
                <% if @user == current_user %>
                  <h2>You have no likes. Why not add one?</h2>
                  <a href="<%= root_path %>" class="btn btn btn btn-success btn-sleek center-block"><span class="glyphicon glyphicon-cloud-upload"></span> Browse</a>
                <% else %>
                  <h2>This user has no likes.</h2>
                <% end %>
              <% end %>
            </div>
          </div>


        </div>
    </div>
  <% else %>
    <% title "User not found" %>
    <h2>User not found</h2>
  <% end %>

  </div>