<% if @user %>
  <% title "#{@user.username}'s Profile"  %>


  <div id="banner" class="profile-banner">
    <div class="center-block profile-banner-content" >
          <%= image_tag(@user.image, class: "profile-avatar") %>
        <div class="profile-bio">
          <h1><%= @user.username %></h1>
          <p class="tagline"><%= @user.tagline %></p>
          <%= link_to @user.website, @user.website %>
        </div>
    </div>
  </div>

  <div class="container">
    <div id="page-content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <%= render '/sheets/sheets' %>
        </div>
      </div>
    </div>
  <% else %>
    <h2>User not found</h2>
  <% end %>

  </div>