<% if @user %>
  <% title "#{@user.username}'s Profile"  %>

  <div id="banner" class="profile-banner">
    <%= image_tag(@user.avatar_url, class: "profile-avatar") %>
    <div class="profile-bio">
      <h1><%= @user.username %></h1>
      <p class="tagline"><%= @user.tagline %></p>
    </div>
  </div>

  <div class="container sheets-container">
      <div class="row">
        <div class="col-xs-3 profile-info">
            <% if @user == current_user %>
              <a href="<%= edit_user_registration_path %>" class="btn btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a>
            <% end %>
            <div class="well">
                <h4><span class="glyphicon glyphicon-user"></span> <%= "#{@user.username} (#{@user.full_name })" %></h4>
                <em>Member since <%= distance_of_time_in_words(Time.now, @user.created_at) %> ago</em>
                <p><%= @user.bio %></p>

                <% if @user.website.present? %>
                  <a href="<%= url_with_protocol(@user.website) %>" class="btn btn btn-block btn-default"><span class="glyphicon glyphicon-globe"></span> Website </a>
                <% end %>

                <a href="mailto:<%= @user.email %>" class="btn btn btn-block btn-default"><span class="glyphicon glyphicon-send"></span> Contact User</a>
            </div>
      </div>

        <div class="col-xs-9">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#sheets" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-music"></span> Sheet Music <span class="badge"><%= @sheets.count %></span></a></li>

            <% if current_user == @user %>
            <li><a href="#private-sheets" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-close"></span> Private Sheets <span class="badge"><%= @private_sheets.count %></span></a></li>
            <% end %>

            <li><a href="#likes" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-thumbs-up"></span> Likes <span class="badge"><%= @user.votes.size %></span></a></li>

            <% if current_user == @user %>
            <li><a href="#deleted-sheets" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-trash"></span> Deleted <span class="badge"><%= @user.deleted_sheets.size %></span></a></li>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <%= render 'sheets_tab_content' %>
            <%= render 'likes_tab_content' %>
            <%= render 'private_sheets_tab_content' %>
            <%= render 'deleted_sheets_tab_content' %>
          </div>


        </div>
    </div>
  <% else %>
    <% title "User not found" %>
    <h2>User not found</h2>
  <% end %>

  </div>