<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);

      body#email {
          background: #F1F1F1;
          font-family: 'Helvetica', 'Arial', sans-serif;
          color: #666;

          a {
              color: #2583EB;
              text-decoration: none;
          }

          strong {
              color: #333;
          }

          .container {
              background: #fff;
              border: 1px solid #ddd;
              margin: 10px 15%;
              padding: 10px 40px;
              border-radius: 4px;
          }

          h1 {
              color: #5cb85c;
          }

          h2 {
              font-family: 'Roboto Slab', serif;
              margin-left: 15%;
              font-size: 36px;
              margin-bottom: 0px;
              font-weight: 300;
          }

          .payment-summary {
              border-top: 1px dotted #ddd;
              border-bottom: 1px dotted #ddd;
          }

          .payment-summary p{
              margin-top: 5px;
          }

          .payment-summary em {
              display: block;
              margin-top: 10px;
              font-style: normal;
              font-size: 12px;
              font-weight: bold;
              color: #444;
              text-transform: uppercase;
          }

          .btn {
              display: block;
              text-align: center;
              padding: 15px 0px;
              margin: 0px 10%;
              border-radius: 4px;
              color: #fff;
              background: #2583EB;
              width: 80%;
          }

          .footer {
              text-align: center;
              font-size: 12px;
              padding-bottom: 10px;
          }

          .error {
            color: #d9534f;
          }
      }



    </style>
  </head>
  <body>
    <h2><a href="<%= root_url %>">SheetHub</a></h2>
    <div class="container">
      <h1>You have a new fan!</h1>
      <p>Hi <%= @publisher.display_name %>, </p>
      <p>Nice! <%= link_to @user.display_name, user_profile_url(@user.username) %> favorited your work, <%= link_to @sheet.title, sheet_url(@sheet) %>! Share your work to get more fans.
      </p>
      <a href="<%= favorites_sheet_path(@sheet) %>" class="btn">View More Fans of <%= @sheet.title %></a>
      <p>For help or product support, please visit our <%= link_to "Help center", faq_url %>.</p>

      <p>Cheers,</p>
      <p>SheetHub</p>
    </div>
    <p class="footer">Sent with &hearts; from SheetHub</p>
  </body>
</html>