<%
title "Contact"
description "SheetHub Contact"
keywords %w(contact support)
%>

<div class="animated-banner">
    <h1><em class="fa fa-paper-plane"></em> Contact</h1>
    <h2>Have questions? We're happy to help!</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-8 white-container">
        <%= simple_form_for(@contact, defaults: { input_html: { class: 'form-control' }}) do |f| %>
          <%= f.input :name, label: 'Your Name', required: true %>
          <%= f.input :email, required: true %>
          <%= f.input :subject, required: true %>
          <%= f.input :message, as: :text, required: true %>

          <br/>
          <%= f.button :submit, 'Send Message', class: "btn btn-success btn-lg" %>
          <p class="fade-text">* The founder personally respond to each message</p>
        <% end %>
    </div>
    <div class="col-xs-4">
        <div class="bg-info blurb"><strong><em class="fa fa-info-circle"></em> Alpha</strong> <p>We are currently in public alpha, which means things may not work perfectly – yet. If you encounter something that looks broken, please let us know!</p></div>
        <br/>
        <a href="<%= support_url %>" class="btn btn-block btn-lg btn-primary"><em class="fa fa-support"></em> Support Center</a>
        <br/>
        <div class="panel panel-default">
            <%= render 'layouts/twitter_widget' %>
            <%= render 'layouts/facebook_widget' %>
        </div>

    </div>
  </div>
</div>
