<div id="browse-sidebar" class="col-xs-2 well">
<div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#browse-instruments">
          <i class="fa fa-magic"></i>
          Instruments
        </a>
      </p>
    </div>

    <div id="browse-instruments" class="panel-collapse collapse">
    <div class="panel-body">
        <%= render 'instruments', instruments: instruments %>
    </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#browse-genres">
          <i class="fa fa-headphones"></i>
          Genres
        </a>
      </p>
    </div>

    <div id="browse-genres" class="panel-collapse collapse">
    <div class="panel-body">
        <%= render 'tags', tags: genres %>
        <br />
        <a href="<%= genres_path %>">View All Genres</a>
    </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#browse-composers">
          <i class="fa fa-users"></i>
          Composers
        </a>
      </p>
    </div>

    <div id="browse-composers" class="panel-collapse collapse">
    <div class="panel-body">
        <%= render 'tags', tags: composers %>
        <br />
        <a href="<%= composers_path %>">View All Composers</a>
    </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <p class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#browse-sources">
          <i class="fa fa-book"></i>
          Sources
        </a>
      </p>
    </div>

    <div id="browse-sources" class="panel-collapse collapse">
    <div class="panel-body">
        <%= render 'tags', tags: sources %>
        <br />
        <a href="<%= sources_path %>">View All Sources</a>
    </div>
    </div>
  </div>



</div>
</div>
