<div class="panel panel-success">
    <div class="panel-body bg-feathers">
        <% if current_user && sheet.uploaded_by?(current_user) %>
            <%= render 'edit_sheet_button', sheet: sheet %>
        <% elsif current_user && sheet.purchased_by?(current_user) %>
            <span class="sheet-buy-now-text text-center"><p><em class="fa fa-smile-o"></em> PURCHASED</p></span>
        <% elsif sheet.free? %>
            <span class="sheet-buy-now-text text-center"><p><em class="fa fa-smile-o"></em> FREE DOWNLOAD</p></span>
        <% elsif user_signed_in? %>
            <a id="buy-now"><button type="button" class="btn btn-success btn-lg btn-block col-xs-8"> Get It Now for <%= number_to_currency(sheet.price) %></button></a>
        <% else %>
            <a href="<%= new_user_session_url %>"><button type="button" class="btn btn-success btn-lg btn-block col-xs-8"> Get It Now for <%= number_to_currency(sheet.price) %></button></a>
        <% end %>
    </div>
</div>

<div class="modal" id="buyNowModal" role="dialog" aria-labelledby="flagModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="flagModal">Buy &lsquo;<%= sheet.title %>&rsquo;</h4>
      </div>
      <div class="modal-body">
        <p class="bg-info"><em class="fa fa-unlock"></em> Download <%= sheet.title %> by purchasing it for <strong><%= number_to_currency(sheet.price) %></strong> USD<%= " or more" if sheet.pay_what_you_want %>.</p>

        <% if sheet.pay_what_you_want %>
          <div class="input-group input-group-bordered">
          <span class="input-group-addon">$</span>
            <%= text_field_tag(:amount, number_to_currency(sheet.price, unit: "", precision: 2), data: {min: sheet.price}) %>
          </div>
          <div id="add_buttons">
            <button type="button" data-amount="1.00" class="add_button btn btn-success"><em class="fa fa-plus"></em> <span>$1.00</span></button>
            <button type="button" data-amount="2.00" class="add_button btn btn-success"><em class="fa fa-plus"></em> <span>$2.00</span></button>
            <button type="button" data-amount="5.00" class="add_button btn btn-success"><em class="fa fa-plus"></em> <span>$5.00</span></button>
            <button type="button" data-amount="10.00" class="add_button btn btn-success"><em class="fa fa-plus"></em> <span>$10.00</span></button>
          </div>
        <% end %>

        <%= render 'modal_files', sheet: sheet %>

        <strong>What happens next?</strong>
        <p>Once you complete your purchase, you'll be able to view and print all of your purchased sheet music anytime, on any platform and device - without ever paying again. And we'll send you an email receipt containing your full purchase details. Enjoy! </p>

      </div>
      <div class="modal-footer">
          <%= image_tag("https://www.paypalobjects.com/webstatic/en_SG/mktg/Logos/AM_SbyPP_mc_vs_dc_ae.jpg", class:"paypal-logo") %>

          <a id="paypal-checkout-btn" href="<%= checkout_url(sheet: sheet) %>" data-method="post" class="btn btn-lg btn-success"><em class="fa fa-paypal"></em> Checkout with PayPal</a>
      </div>

    </div>
  </div>
</div>
