<div id="sheets">
  <% if sheets.each do |sheet| %>
    <a href="<%= restore_sheet_path(sheet) %>" data-method="post"><div class="sheet" title="<%= sheet.title + " by " + sheet.composer_list.to_s.titleize if sheet.composer_list.any? %>">
      <div class="sheet-text">
        <% if !sheet.is_public%>
          <span class="glyphicon glyphicon-eye-close pull-right"></span>
        <% end %>

        <p class="sheet-instruments"><%= sheet.instruments.join(", ") %></p>
        <h3><%= sheet.title %></h3>
        <p><%= sheet.composer_list.any? ? sheet.composer_list.to_s.titleize : "Unknown Composer" %></p>
      </div></a>
      <a href="<%= restore_sheet_path(sheet) %>"><div class="sheet-restore" data-method="post">
        <span class="glyphicon glyphicon-repeat"></span> Click to Restore
      </div></a>
    </div>
  <% end.empty? %>
    <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
    <h2>No Sheets yet!</h2>
  <% end %>
</div>