<div id="sheets">
  <% sheets.find_each do |sheet| %>
    <a href="<%= restore_sheet_path(sheet) %>" data-method="post"><div class="sheet" title="<%= sheet.title + " by " + sheet.composer_list.to_s.titleize if sheet.composer_list.any? %>">
      <div class="sheet-text">
        <p class="sheet-instruments"><%= sheet.instruments.join(", ") %></p>
        <h3><%= sheet.title %></h3>
        <p><%= sheet.composer_list.any? ? sheet.composer_list.to_s.titleize : "Unknown Composer" %></p>
      </div></a>
      <a href="<%= restore_sheet_path(sheet) %>" data-method="post"><div class="sheet-restore" data-method="post">
        <span class="fa fa-undo"></span> Click to Restore
      </div></a>
    </div>
  <% end %>

  <% if sheets.empty? %>
    <h2><em class="fa fa-eye-slash"></em></h2>
    <h2>No Sheets yet!</h2>
  <% end %>
</div>