<div class="sheet">
    <%= render 'sheet_text', sheet: sheet %>
    <a href="<%= sheet_url(sheet, subdomain: sheet.user.username) %>">
        <%= image_tag(sheet.pdf_preview_url, title:"This is a preview page.", class: "sheet_preview") %>
    </a>
    <div class="sheet-user">
      <a href="<%= user_profile_url(subdomain: sheet.user.username) %>"><em class="fa fa-user"></em> <%= sheet.user.display_name %></a>
    </div>
</div>