<button type="button" class="btn btn-default" data-toggle="modal" data-target="#flagModal"><span class="glyphicon glyphicon-flag"></span> Report</button>

<!-- TODO: modal -->
<div class="modal fade" id="flagModal" role="dialog" aria-labelledby="flagModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="flagModal">Report <%= link_to @sheet.title, @sheet %></h4>
      </div>
      <div class="modal-body form-inputs">
        <%= simple_form_for Flag.new,
            :url => url_for(:action => 'flag', :controller => 'sheets'),
            :method => 'post',
            defaults: { input_html: { class: 'form-control' }} do |f| %>
            <%= f.error_notification %>

            <%= f.input :email, autofocus: true, placeholder: "Your email" if current_user.nil? %>
            <%= f.input :message, autofocus: true, placeholder: "What's the issue you want to report?" %>
            <%= f.submit 'Report', class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>