<%= simple_form_for @sheet do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>


  <%= f.label :instruments %>
  <br>
  <%= f.input_field :instruments_list, collection: Sheet.values_for_instruments, prompt: "Choose instruments", multiple: true , id: "instruments-field"%>

  <%= f.label :composers %>
  <br>
  <%= f.input_field :composer_list, collection: @composers, prompt: "Add composer(s)", multiple: true , id: "composers-field"%>

  <%= f.label :genres %>
  <br>
  <%= f.input_field :genre_list, collection: @genres, prompt: "Add genres", multiple: true , id: "genres-field"%>

  <%= f.label :sources %>
  <br>
  <%= f.input_field :source_list, collection: @sources, prompt: "Where is this from?", multiple: true , id: "sources-field"%>

  <%= f.input :description %>
  <%= f.input :difficulty, :as => :select, :collection => Sheet.difficulties.keys.to_a %>

  <%= f.label :pdf %><br />
  <%= f.file_field :pdf %>

  <p>
    <!-- Todo: link to add new asset -->
  </p>


  <%= f.button :submit %>
<% end %>