<%= simple_form_for @sheet, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <%=f.hidden_field :user_id, value: current_user.id %>

  <div class="radio-btn-toolbar">
    <%= f.input_field :is_public, collection: [ ['Public', true ], ['Private', false] ], as: :radio_buttons, label_method: :first, value_method: :last %>
  </div>

  <%= f.input :title, placeholder: "What's the title of your piece?" %>
  <%= f.input :description, :input_html => {:rows => 5}, placeholder: "Background, instructions, tuning information, external links here" %>

  <%= f.label "Price in US$" %>
  <%= f.input_field :price_cents, :input_html => {value: number_with_precision(f.object.price_cents, precision: 2) }, placeholder: "What's the minimum price to pay to get access to uploads?" %>

  <%= f.label :instruments %>
  <br>
  <%= f.input_field :instruments_list, collection: Sheet.values_for_instruments, prompt: "Choose instruments", multiple: true , id: "instruments-field"%>

  <%= f.label :composers %>
  <br>
  <%= f.input_field :composer_list, collection: @composers.collect{|tag| tag.name}, prompt: "Add composer(s)", multiple: true , id: "composers-field"%>

  <%= f.label :genres %>
  <br>
  <%= f.input_field :genre_list, collection: @genres.collect{|tag| tag.name}, prompt: "Add genres", multiple: true , id: "genres-field"%>

  <%= f.label :sources %>
  <br>
  <%= f.input_field :source_list, collection: @sources.collect{|tag| tag.name}, prompt: "Where is this from?", multiple: true , id: "sources-field"%>

  <!-- <%= f.input :difficulty, :as => :select, :collection => Sheet.difficulties.keys.to_a %> -->

  <%= f.label :pdf %><br />
  <% if  params[:action] == "edit" && @sheet.pdf.present? %>
  <ul id="sheet-files">
    <li>
        <a href="<%= download_pdf_sheet_path(@sheet) %>">
            <div class="sheet-file">
            <p><span class="glyphicon glyphicon-save"></span> <%= @sheet.pdf_file_name %> <strong><%= number_to_human_size(@sheet.pdf_file_size) %></strong></p>
            </div>
        </a>
    </li>
  </ul>
  <% end %>
  <%= f.file_field :pdf %>

  <%= f.button :submit, class: "btn btn-success btn-lg btn-wide pull-right"%>
<% end %>