<hr>
<p class="text-center"><em>You will receive:</em></p>
<ul id="sheet-files">
    <!-- Main PDF file -->
    <% if sheet.pdf.present? %>
    <li class="text-center">
        <p><em class="fa fa-download"></em><strong> <%= sheet.pdf_file_name %></strong> (<%= pluralize(sheet.pages, 'page') %> - <%= number_to_human_size(sheet.pdf_file_size).downcase %>)</p>
    </li>
    <% else %>
    <li class="text-center">
        <p class="bg-danger"><em class="fa fa-eye-slash"></em> No PDF File Found.</p>
    </li>
    <% end %>

    <!-- Additional files -->
    <% for asset in sheet.assets %>
    <li class="text-center">
        <p><em class="fa fa-download"></em><strong> <%= asset.filename %></strong> (<%= number_to_human_size(asset.filesize).downcase %>)</p>
    </li>
    <% end %>
</ul>
<hr>