<div id="related">
    <% unless @sheet.joined_tags.empty? || @sheet.related_tags.blank? %>
    <div id="related-tags">
        <h1><span class="glyphicon glyphicon-tags"></span> You might also like...</h1>
        <%= render 'tags', tags: @sheet.related_tags %>
    </div>
    <div id="related-sheets">
        <% for sheet in @sheet.related_sheets %>
            <a href="<%= sheet_path(sheet) %>">
            <div class="related-sheet">
                <em><%= sheet.instruments.join(", ") %></em>
                <h4><%= sheet.title %></h4>
                <h5>
                <%= sheet.source_list.to_s.titleize + " | " if sheet.source_list.present?%>
                <%= sheet.composer_list.to_s.titleize %>
                </h5>
            </div>
            </a>
        <% end %>
    </div>
    <% else %>
        <h1 class="text-center"><span class="glyphicon glyphicon-eye-close"></span></h1>
        <h1 class="text-center">Sorry, we couldn't find anything similar to this piece.</h1>
    <% end %>
</div>