<% unless sheet.cached_joined_tags.empty? || sheet.related_tags.blank? %>
<div id="related">
    <% cache(cache_key_for_sheet_related_results(sheet)) do %>
    <div id="related-tags">
        <h2><em class="fa fa-heart-o"></em> Recommended for you</h2>
        <%= render 'sheets/tags', tags: sheet.related_tags %>
    </div>
    <div id="related-sheets">
        <% for sheet in sheet.related_sheets %>
            <a href="<%= sheet_url(sheet) %>">
            <div class="related-sheet">
                <em class="pull-right fa fa-bookmark"></em>
                <em><%= sheet.instruments.join(", ") %></em>
                <h4><%= sheet.title %></h4>
                <h5>
                <%= sheet.cached_sources.join(", ").titleize %>
                </h5>
            </div>
            </a>
        <% end %>
    </div>
    <% end %>
</div>
<% end %>