<% unless @sheet.joined_tags.empty? || @sheet.find_related_tags.blank? %>
<div id="related">
    <div id="related-tags">
        <h1><span class="glyphicon glyphicon-heart"></span> You might also like...</h1>
        <% for tag in @sheet.find_related_tags %>
            <a href="#">
            <span class="tag">
                <%= tag.titleize %>
            </span>
            </a>
        <% end %>
        <%= render 'tags', tags: @genres %>
    </div>
    <div id="related-sheets">
        <% for sheet in @sheet.find_related %>
            <a href="<%= sheet_path(sheet) %>">
            <div class="related-sheet">
                <em><%= sheet.instruments.join(", ") %></em>
                <h4><%= sheet.title %></h4>
                <h5><%= sheet.source_list.to_s.titleize %> / <%= sheet.composer_list.to_s.titleize %></h5>
            </div>
            </a>
        <% end %>
    </div>
</div>
<% end %>