<% unless sheet.cached_joined_tags.empty? || sheet.related_tags.blank? %>
<div id="related">
    <% if user_signed_in? %>
        <% cache(cache_key_for_sheet_related_results(sheet)) do %>
        <div id="related-tags">
            <h2><em class="fa fa-heart-o"></em> Recommended for you</h2>
            <%= render 'sheets/tags', tags: sheet.related_tags %>
        </div>
        <div id="related-sheets">
            <% for sheet in sheet.related_sheets %>
                <a href="<%= sheet_url(sheet) %>">
                <div class="related-sheet">
                    <em class="pull-right fa fa-bookmark"></em>
                    <em><%= sheet.instruments.join(", ") %></em>
                    <h4><%= sheet.title %></h4>
                    <h5>
                    <%= sheet.source_list.to_s.titleize %>
                    </h5>
                </div>
                </a>
            <% end %>
        </div>
        <% end %>
    <% else %>
        <br /><br />
        <h2 class="text-center">Sign In to view recommended works</h2>
        <a href="<%= new_user_session_url %>" class="btn btn-success btn-lg center-block"> Sign In</a>
    <% end %>
</div>
<% end %>