<% unless sheet.joined_tags.empty? || sheet.related_tags.blank? %>
<div id="related">
    <div id="related-tags">
        <h1><span class="glyphicon glyphicon-heart-empty"></span> Recommended for you</h1>
        <%= render 'sheets/tags', tags: sheet.related_tags %>
    </div>
    <div id="related-sheets">
        <% for sheet in sheet.related_sheets %>
            <a href="<%= sheet_path(sheet) %>">
            <div class="related-sheet">
                <em><%= sheet.instruments.join(", ") %></em>
                <h4><%= sheet.title %></h4>
                <h5>
                <%= sheet.source_list.to_s.titleize + " | " if sheet.source_list.present?%>
                <%= sheet.composer_list.to_s.titleize %>
                </h5>
            </div>
            </a>
        <% end %>
    </div>
</div>
<% end %>