<tr>
  <td>
    <a href="<%= sheet_url(sheet) %>"><%= sheet.title %></a>
  </td>
  <td>
    <%= sheet.visibility_string %>
  </td>
  <td>
    <%= sheet.completed_orders.size %>
  </td>
  <td>
    <%= number_to_currency(sheet.total_sales) %>
  </td>
  <td>
    <%= number_to_currency(sheet.total_earnings) %>
  </td>
  <td>
    <%= number_to_currency(sheet.average_sales) %>
  </td>
  <td>
    <%= number_to_currency(sheet.maximum_sale) %>
  </td>
  <td>
    <p><a href="<%= edit_sheet_url(sheet) %>"> Edit </a></p>
  </td>
</tr>