<div id="sheets">
  <% @sheets.each do |sheet| %>
    <a href="<%= sheet_url(sheet) %>"><div class="sheet">
      <div class="sheet-thumb">
        <!-- TODO -->
      </div>
      <div class="sheet-text">
        <p class="sheet-instruments"><%= sheet.instruments.join(", ") %></p>
        <h3><%= sheet.title %></h3>
        <p><%= sheet.composer_list.to_s.titleize if sheet.composer_list.any? %></p>
        <hr />
        <a href="<%= profile_path(sheet.user.username) %>"><span class="glyphicon glyphicon-user"></span> <%= sheet.user.username %></a>
      </div>
    </div></a>
  <% end %>
</div>