<div class="panel panel-info">
  <div class="panel-body">
    <p><%= sheet.description? ? sheet.description_html : 'No description.'%></p>

    <strong class="publishing-rights"><i class="fa fa-certificate"></i> <%= sheet.verbose_license %> <a href="<%= faq_path %>#licenses"><i class="fa fa-question-circle"></i></a></strong>
    <p><em>Published <%= distance_of_time_in_words(Time.now, sheet.created_at) %> ago</em></p>
  </div>

    <ul class="list-group">
        <li class="list-group-item">
            <%= render 'sheet_tags', sheet:sheet %>
        </li>

        <li class="list-group-item well">
            <%= render 'like_sheet_button', sheet:sheet %>
        </li>
    </ul>
</div>