 <div class="panel panel-info">
    <div class="panel-heading"><span class="glyphicon glyphicon-file"></span> Files</div>
    <div class="panel-body">
        <ul id="sheet-files">
            <!-- Main PDF file -->
            <% if @sheet.pdf.present? %>
            <li>
                <a href="<%= download_pdf_sheet_path(@sheet) %>" title="<%= @sheet.pdf_file_name %>">
                    <div class="sheet-file">
                    <p><span class="glyphicon glyphicon-save"></span> <%= @sheet.pdf_file_name %> <strong><%= number_to_human_size(@sheet.pdf_file_size) %></strong></p>
                    </div>
                </a>
            </li>
            <% else %>
                <li>
                    <div class="sheet-file-missing bg-danger">
                        <p><span class="glyphicon glyphicon-eye-close"></span> No PDF File Found.</p>
                    </div>
                </li>
            <% end %>


            <!-- Additional files -->
            <% for asset in @sheet.assets %>
                <%= render 'assets/asset', asset: asset %>
            <% end %>
            </ul>
        </div>
    </div>