<div id="sheet-info" class="panel panel-info">
  <div class="panel-body" style="padding-bottom: 5px">
    <p><%= sheet.description? ? sheet.description_html : 'No description.'%></p>

    <strong class="publishing-rights"><em class="fa fa-certificate"></em> <%= sheet.verbose_license %> <a href="<%= support_url %>#licenses"><em class="fa fa-question-circle"></em></a></strong>

    <p data-toggle="tooltip" data-placement="left" title="First Published <%= sheet.created_at.strftime('%d %B %Y') %>"><span class="fade-text hover-pointer"><span class="fa fa-clock-o"></span> Updated <%= distance_of_time_in_words(Time.zone.now, sheet.updated_at) %> ago</span></p>

    <p class="fade-text"><span class="fa fa-book"></span> <%= pluralize(sheet.pages, 'page') %></p>
  </div>

    <ul class="list-group">
        <li class="list-group-item flat-tags well">
            <%= render 'sheet_tags', sheet:sheet %>
        </li>
    </ul>
</div>
