<tr>
  <td class="sheet table-sheet">
    <%= render 'sheets/sheet_text', sheet: sheet %>
    <em class="fade-text" style="padding:10px;" data-toggle="tooltip" data-placement="right" title="Purchased <%= order.purchased_at.strftime('%d %B %Y') %>"><span class="publish-date">Purchased <%= distance_of_time_in_words(Time.zone.now, order.purchased_at) %> ago</span></em>
  </td>
  <td>
    <%= render 'sheets/sheet_files', sheet: sheet %>
  </td>
  <td>
    <%= render 'sheets/sheet_direct_url', sheet: sheet %>
    <%= render 'sheets/share_buttons', sheet: sheet %>
  </td>
</tr>