<tr>
  <td class="sheet table-sheet">
    <%= render 'sheets/sheet_text', sheet: sheet %>
    <em class="fade-text" style="padding:10px;" data-toggle="tooltip" data-placement="right" title="Published <%= sheet.created_at.strftime('%d %B %Y') %>"><span class="publish-date">Published <%= distance_of_time_in_words(Time.zone.now, sheet.created_at) %> ago</span></em>
  </td>
  <td>
    <%= render 'sheets/sheet_files', sheet: sheet %>
  </td>
  <td>
    <a href="<%= edit_sheet_path(sheet) %>">
      <button type="button" class="btn btn-success btn-block"><em class="fa fa-edit"></em> Edit</button>
    </a>
  </td>
</tr>