<% title "Browse by Composer | #{params[:slug].titleize}" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-users"></i> <a href="<%= browse_path %>">Browse</a></li>
        <li><a href="<%= composers_path %>">All Composers</a></li>
        <li><a href="<%= composer_path(params[:slug]) %>"><%= params[:slug].titleize %></a></li>
      </ol>
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>
</div>
