<%
title "#{@sheet.title}'s Fans"
description @sheet.description
keywords @sheet.cached_joined_tags
%>

<%= render 'layouts/nav_strip' %>
<div class="container">
  <div class="row">
  <div class="col-xs-12" id="sheet-header">
    <h1><%= link_to @sheet.title, sheet_path(@sheet) %>'s Fans</h1>
    <br />
  </div>
  <div class="col-xs-12">
      <div id="sheets">
        <% if @favorites.each do |vote| %>
          <a href="<%= user_profile_path(vote.voter.username) %>">
              <%= image_tag(vote.voter.avatar_url, class: "small-avatar", data: { toggle: 'tooltip', placement: 'top' }, title:vote.voter.display_name) %>
          </a>
        <% end.empty? %>
          <h2 class="text-center"><em class="fa fa-eye-slash"></em></h2>
          <h2 class="text-center">No fans yet!</h2>
        <% end %>
      </div>
      <div id="paginator" class="text-center">
        <%= paginate @favorites %>
      </div>
    </div>
  </div>
</div>