<%
title "Discover"
description "SheetHub is the easiest publishing platform built for musicians"
%>


<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <h1 class="sheets-heading">The Easiest Way To Share and Sell Sheet Music, Score, and Tabs</h1>
            <h4 class="sheets-subheading"><strong><%= link_to "add your music", sheet_upload_url %></strong> in seconds to a growing community of musicians</h4>
            <br/>
            <br/>
            <div class="flat-tags text-center">
              <a href="<%= discover_url %>"><span class="tag active">New To SheetHub</span></a>
              <a href="<%= best_sellers_url %>"><span class="tag">Best Sellers</span></a>
              <a href="<%= community_favorites_url %>"><span class="tag">Community Favorites</span></a>
            </div>
            <br/>
            <%= render 'sheets', sheets: @sheets %>
    </div>
    </div>
</div>

<%= render 'instruments_strip', instruments: @instruments %>
<%= render 'tag_strip', tags: @genres, tag_type:'genre' %>
<%= render 'tag_strip', tags: @composers, tag_type:'composer' %>
<%= render 'tag_strip', tags: @sources, tag_type:'source' %>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <a href="<%= community_favorites_url %>"><h2 class="sheets-heading">Community Spotlight</h2></a>
            <h4 class="sheets-subheading"><em class="fa fa-star-o"></em> Get inspiration from these SheetHub members' top picks</h4>
            <br />
            <%= render 'featured_sheets', sheets: @featured %>
      </div>
    </div>
</div>

<%= render 'layouts/sign_up_banner' %>
<%= render 'layouts/upload_banner' %>
