<% title "Browse"  %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#filter-toggle" class="btn btn-default btn-gradient pull-left" id="filter-toggle"><span class="glyphicon glyphicon-expand"></span> Toggle Filters</a>

      <%= simple_form_for :sheet, html: { class: 'sheet-sort-order' } do |f| %>
        <%= f.select :sort_order, Sheet::SORT_ORDERS %>
      <% end %>

      <h1 class="text-center"><span>Listing sheets</span></h1>
    </div>
  </div>

  <div id="wrapper">

    <%= render 'filters' %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'sheets' %>
        </div>
      </div>


      <div id="paginator">
        <%= paginate @sheets, remote: true %>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</div>
