<%
title "Browse"
%>

<%= render 'layouts/nav_strip' %>

<div class="animated-banner">
    <h1>A simple way to find and share sheet music</h1>
    <h2>Connect over great music on SheetHub</h2>
</div>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <h3 class="sheets-heading">Recent works</h3>
            <h4 class="sheets-subheading">Check out the latest and greatest on SheetHub!</h4>
            <%= render 'sheets', sheets: @sheets %>
      </div>
    </div>
</div>

<%= render 'instruments_strip', instruments: @instruments %>
<%= render 'tag_strip', tags: @genres, tag_type:'genre' %>
<%= render 'tag_strip', tags: @composers, tag_type:'composer' %>
<%= render 'tag_strip', tags: @sources, tag_type:'source' %>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <a href="<%= community_favorites_path %>"><h3 class="sheets-heading">Community Favorites</h3></a>
            <h4 class="sheets-subheading"><i class="fa fa-star-o"></i> Get inspiration from these SheetHub members' top picks</h4>
            <%= render 'featured_sheets', sheets: @featured %>
      </div>
    </div>
</div>

<%= render 'layouts/sign_up_banner' %>
<%= render 'layouts/upload_banner' %>
