<%
title "Browse"
description "SheetHub is an open platform built for musicians."
%>

<%= render 'layouts/nav_strip' %>


<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <h2 class="sheets-heading">Recent works</h2>
            <br />
            <%= render 'sheets', sheets: @sheets %>
      </div>
    </div>
</div>

<%= render 'instruments_strip', instruments: @instruments %>
<%= render 'tag_strip', tags: @genres, tag_type:'genre' %>
<%= render 'tag_strip', tags: @composers, tag_type:'composer' %>
<%= render 'tag_strip', tags: @sources, tag_type:'source' %>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <a href="<%= community_favorites_path %>"><h2 class="sheets-heading">Community Favorites</h2></a>
            <h4 class="sheets-subheading"><em class="fa fa-star-o"></em> Get inspiration from these SheetHub members' top picks</h4>
            <br />
            <%= render 'featured_sheets', sheets: @featured %>
      </div>
    </div>
</div>

<%= render 'layouts/sign_up_banner' %>
<%= render 'layouts/upload_banner' %>
