<%
title "Browse"
%>

<%= render 'layouts/nav_strip' %>

<div id="animated-banner">
    <h1>A simple way to find and share sheet music</h1>
    <h2>Connect over great music on SheetHub</h2>
</div>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <%= render 'sheets', sheets: @sheets %>
      </div>
    </div>
</div>

<%= render 'instruments_strip', instruments: @instruments %>
<%= render 'tag_strip', tags: @genres, tag_type:'genre' %>
<%= render 'tag_strip', tags: @composers, tag_type:'composer' %>
<%= render 'tag_strip', tags: @sources, tag_type:'source' %>

<div class="container">
    <div class="col-xs-12">
      <div class="row">
            <%= render 'featured_sheets', sheets: @featured %>
      </div>
    </div>
</div>

<%= render 'layouts/sign_up_banner' %>
