<% title "Browse" %>

<div id="banner">
    <!-- TODO: Show popular sheets? -->
</div>

<div class="container">

<%= render 'browse_sidebar' %>

<div class="col-xs-10">
  <div class="row">
    <div class="col-xs-3">
      <%= simple_form_for :sheet, html: { class: 'sheet-sort-order' } do |f| %>
        <%= f.select :sort_order, Sheet::SORT_ORDERS %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= render 'sheets', sheets: @sheets %>
    </div>
  </div>

  <div id="paginator" class="text-center">
    <%= paginate @sheets, remote: true %>
  </div>
</div>

</div>
