<h1>New sheet</h1>

<%= simple_form_for @sheet do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :pages %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', sheets_path %>
