<% title "#{@sheet.title} by #{@sheet.composer_list.to_s.titleize}"  %>

<div class="container">
    <div class="row">
        <div id="sheet-header" class="col-xs-8">
            <h1><%= @sheet.title %></h1>
            <h4>from <a href="#" class="sheet-author"><%= @sheet.user.username %></a></h4>
        </div>
        <div class="col-xs-4">
            <%= render 'add_to_cart' %>
        </div>
        <hr>
    </div>
    <div class="row">
        <div id="sheet-content" class="col-xs-8">

        <% if @sheet.has_pdf_preview? %>
            <%= image_tag(@sheet.pdf.url(:preview), :class => "sample_sheet") %>
        <% else %>
            <!-- TODO: finalize blank slate when no pdf preview -->
            <%= image_tag("/assets/sheet.png", :class => "sample_sheet") %>
        <% end %>

            <%= render 'disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4">
            <div class="panel panel-info">
              <div class="panel-body">
                <p><%= @sheet.description %></p>
                <em>Published <%= distance_of_time_in_words(Time.now, @sheet.created_at) %> ago</em>
            </div>
        </div>

        <%= render 'share' %>
        <%= render 'files' %>
        <%= render 'sheet_tags', sheet:@sheet %>

        <a href="<%= edit_sheet_path(@sheet) %>">
            <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-edit"></span> Edit</button>
        </a>

  </div>
</div>
</div>


<%= render 'related' %>