<%
title @sheet.title
description "#{@sheet.title} sheet music on SheetHub, the easiest publishing platform built for musicians. #{@sheet.description}"
keywords @sheet.cached_joined_tags
%>

<%= render 'open_graph_metatags', sheet: @sheet %>

<div class="container">
    <div class="row">
        <div id="sheet-content" class="col-xs-8">
            <%= render 'sheet_preview', sheet:@sheet %>
            <%= render 'layouts/disqus' %>
        </div>
        <div id="sheet-sidebar" class="col-xs-4 zeropadding">
            <%= render 'sheet_header', sheet:@sheet %>
            <% if @sheet.privately_visible? %>
                <p class="bg-info text-center"><em class="fa fa-eye-slash"></em> <%= @sheet.title %> is <strong>Private</strong></p>
            <% end %>
            <% if @sheet.out_of_stock? && current_user == @sheet.user %>
                <p class="bg-warning text-center"><em class="fa fa-warning"></em> <%= @sheet.title %> is <strong>Out Of Stock</strong></p>
            <% end %>
            <%= render 'sheet_info', sheet:@sheet %>
            <%= render 'buy_now', sheet:@sheet %>
            <div class="panel panel-info">
              <div class="panel-heading"><em class="fa fa-download"></em> Download</div>
              <div class="panel-body" style="padding: 10px;">
                <%= render 'sheet_files', sheet: @sheet %>
            </div>
            </div>
            <%= render 'sheet_share', sheet: @sheet %>
            <%= render 'sheet_like', sheet: @sheet, likes:@likes %>

            <div class="panel panel-default">
                <%= render 'layouts/twitter_widget' %>
                <%= render 'layouts/facebook_widget' %>
            </div>

            <%= render 'sign_up_blurb' %>
            <!-- Reporting disabled -->
            <!-- <%= render 'flag_sheet_button', sheet: @sheet %> -->
        </div>
    </div>
</div>

<%= render 'related', sheet:@sheet %>