<% title "#{@sheet.title}"  %>

<div class="container">
    <div class="row">
        <div id="sheet-header" class="col-xs-8">
            <% if !@sheet.is_public %>
                <strong><span class="glyphicon glyphicon-eye-close"></span> PRIVATE</strong>
            <% end %>

            <h1><%= @sheet.title %></h1>
            <h4>from <a href="<%= user_profile_path(@sheet.user.username) %>" class="sheet-author"><%= @sheet.user.username %></a></h4>
        </div>
        <div class="col-xs-4">
            <%= render 'add_to_cart' %>
        </div>
        <hr>
    </div>
    <div class="row">
        <div id="sheet-content" class="col-xs-8">

        <% if @sheet.has_pdf_preview? %>
            <%= image_tag(@sheet.pdf_preview_url, :class => "sample_sheet") %>
        <% else %>
            <!-- TODO: finalize blank slate when no pdf preview -->
            <%= image_tag("/assets/sheet.png", :class => "sample_sheet") %>
        <% end %>

            <a href="<%= user_profile_path(@sheet.user.username) %>">
                <button type="button" class="btn btn-block btn-default">See more from this user <span class="glyphicon glyphicon-arrow-right"></span></button>
            </a>
            <%= render 'disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4">
            <%= render 'sheet_info' %>
            <%= render 'sheet_files' %>

            <%= render 'sheet_share' %>
            <%= render 'layouts/facebook_widget' %>
            <%= render 'layouts/twitter_widget' %>

            <div class="well">
                <%= render 'flag_sheet_button' %>
            </div>
        </div>
    </div>
</div>

<%= render 'related', sheet:@sheet %>