<%
title @sheet.title
description @sheet.description
keywords @sheet.cached_joined_tags
%>


<div class="container">
    <div class="row">
        <div id="sheet-header" class="col-xs-8">
            <% if @sheet.privately_visible? %>
                <strong><em class="fa fa-eye-slash"></em> PRIVATE</strong>
            <% end %>

            <h1><%= link_to @sheet.title, sheet_path(@sheet) %></h1>
            <h4>by <a href="<%= user_profile_url(subdomain: @sheet.user.username) %>" class="sheet-author"><%= @sheet.user.display_name %></a> <%= render 'layouts/user_badge', user: @sheet.user%></h4>
        </div>
        <div class="col-xs-4 zeropaddingleft">
            <%= render 'buy_now', sheet:@sheet %>
        </div>
    </div>
    <div class="row">
        <div id="sheet-content" class="col-xs-8">

            <%= render 'sheet_preview', sheet:@sheet %>
            <a href="<%= user_profile_url(subdomain: @sheet.user.username) %>">
                <button type="button" class="btn btn-block btn-default">See more from <%= @sheet.user.display_name %></button>
            </a>
            <%= render 'disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4 zeropaddingleft">
            <%= render 'sheet_info', sheet:@sheet %>

            <%= render 'sheet_favorite', sheet: @sheet, favorites:@favorites %>
            <%= render 'sheet_share', sheet: @sheet %>
            <%= render 'sign_up_blurb' %>

            <div class="panel panel-default">
                <%= render 'layouts/twitter_widget' %>
                <%= render 'layouts/facebook_widget' %>
            </div>

            <p class="bg-info"><em class="fa fa-smile-o"></em> Hey there! Please respect copyright and be nice to other users. More on <%= link_to "Community Guidelines", community_guidelines_url %>. </p>
            <%= render 'flag_sheet_button', sheet: @sheet %>
        </div>
    </div>
</div>

<%= render 'related', sheet:@sheet %>