<% title "#{@sheet.title} by #{@sheet.composer_list.to_s.titleize}"  %>

<div class="container">
    <div class="row">
        <div id="sheet-header" class="col-xs-8">
            <h1><%= @sheet.title %></h1>
            <h4>from <a href="#" class="sheet-author">Kabukibear</a></h4>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-success">
                <div class="panel-body bg-success">
                    <span class="sheet-price col-xs-4"><p>FREE</p></span>
                    <button type="button" class="btn btn-success btn-lg col-xs-8"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="row">
        <div id="sheet-content" class="col-xs-8">
            <%= image_tag("/assets/sheet.png", :class => "sample_sheet") %>
            <%= render 'pdf_viewer' %>
            <%= render 'disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4">
            <%= render 'files' %>

            <div class="panel panel-info">
              <div class="panel-body">
                <p><%= @sheet.description %></p>
                <em>Published <%= distance_of_time_in_words(Time.now, @sheet.created_at) %> ago</em>

                <% if @sheet.instruments %>
                    <h4>Instruments</h4>
                    <% for instrument in @sheet.instruments %>
                        <p class="tag"><span class="glyphicon glyphicon-bullhorn"></span> <%= instrument.to_s.titleize %></p>
                    <% end %>
                <% end %>

                <% if @sheet.genre_list.any? %>
                    <h4>Genres</h4>
                    <% for genre in @sheet.genre_list %>
                        <p class="tag"><span class="glyphicon glyphicon-headphones"></span> <%= genre.titleize %></p>
                    <% end %>
                <% end %>
                <% if @sheet.composer_list.any? %>
                    <h4>Composers</h4>
                    <% for composer in @sheet.composer_list %>
                        <p class="tag"><span class="glyphicon glyphicon-user"></span> <%= composer.titleize %></p>
                    <% end %>
                <% end %>

                <% if @sheet.source_list.any? %>
                    <h4>Source</h4>
                    <% for source in @sheet.source_list %>
                        <p class="tag"><span class="glyphicon glyphicon-screenshot"></span> <%= source.titleize %></p>
                    <% end %>
                <% end %>

                <% if @sheet.difficulty %>
                <p>DIFFICULTY: <%= @sheet.difficulty %></p>
                <% end %>

                <br>
            </div>
        </div>

        <%= render 'share' %>

        <a href="<%= edit_sheet_path(@sheet) %>">
            <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-edit"></span> Edit</button>
        </a>

  </div>
</div>
</div>


<%= render 'related' %>