<%
title @sheet.title
description "#{@sheet.title} sheet music on SheetHub, the easiest publishing platform built for musicians. #{@sheet.description}"
keywords @sheet.cached_joined_tags
%>

<%= render 'open_graph_metatags', sheet: @sheet %>

<div class="container">
    <div class="row">
        <div id="sheet-content" class="col-xs-8">
            <div id="sheet-header">
                <h1><%= link_to @sheet.title, sheet_url(@sheet) %></h1>
                <h4>By <a href="<%= user_profile_url(subdomain: @sheet.user.username) %>" class="sheet-author"><%= @sheet.user.display_name %></a> <%= render 'layouts/user_badge', user: @sheet.user%></h4>
            </div>
            <%= render 'sheet_preview', sheet:@sheet %>
            <a href="<%= user_profile_url(subdomain: @sheet.user.username) %>">
                <button type="button" class="btn btn-block btn-default">See more from <%= @sheet.user.display_name %></button>
            </a>
            <%= render 'layouts/disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4 zeropadding">
            <% if @sheet.privately_visible? %>
                <p class="bg-info text-center"><em class="fa fa-eye-slash"></em> This sheet is <strong>Private</strong>.</p>
            <% end %>
            <%= render 'buy_now', sheet:@sheet %>
            <%= render 'sheet_info', sheet:@sheet %>
            <%= render 'sheet_like', sheet: @sheet, likes:@likes %>
            <div class="panel panel-default">
              <div class="panel-heading"><em class="fa fa-download"></em> Download Files</div>
              <div class="panel-body" style="padding: 10px;">
                <%= render 'sheet_files', sheet: @sheet %>
            </div>
            </div>
            <%= render 'sheet_share', sheet: @sheet %>
            <%= render 'sign_up_blurb' %>

            <div class="panel panel-default">
                <%= render 'layouts/twitter_widget' %>
                <%= render 'layouts/facebook_widget' %>
            </div>

            <%= render 'flag_sheet_button', sheet: @sheet %>
        </div>
    </div>
</div>

<%= render 'related', sheet:@sheet %>