<%
title @sheet.title
description @sheet.description
keywords @sheet.cached_joined_tags
%>


<div class="container">
    <div class="row">
        <div id="sheet-header" class="col-xs-8">
            <% if @sheet.privately_visible? %>
                <strong><i class="fa fa-eye-slash"></i> PRIVATE</strong>
            <% end %>

            <h1><%= link_to @sheet.title, sheet_path(@sheet) %></h1>
            <h4>by <a href="<%= user_profile_path(@sheet.user.username) %>" class="sheet-author"><%= @sheet.user.display_name %></a></h4>
        </div>
        <div class="col-xs-4">
            <%= render 'buy_now', sheet:@sheet %>
        </div>
    </div>
    <div class="row">
        <div id="sheet-content" class="col-xs-8">

        <% if @sheet.has_pdf_preview? %>
            <%= image_tag(@sheet.pdf_preview_url, :class => "sample_sheet") %>
        <% else %>
            <!-- TODO: finalize blank slate when no pdf preview -->
            <%= image_tag("/assets/sheet.png", :class => "sample_sheet") %>
        <% end %>

            <a href="<%= user_profile_path(@sheet.user.username) %>">
                <button type="button" class="btn btn-block btn-default">See more from this user <span class="fa fa-arrow-right"></span></button>
            </a>
            <%= render 'disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4">
            <%= render 'sheet_info', sheet:@sheet %>
            <%= render 'sheet_files', sheet: @sheet %>
            <%= render 'sheet_share', sheet: @sheet %>

            <div class="panel panel-default">
                <%= render 'layouts/twitter_widget' %>
                <%= render 'layouts/facebook_widget' %>
            </div>

            <!-- <%= render 'sheet_favorites', sheet:@sheet, favorites: @favorites %> -->
            <%= render 'sign_up_blurb' %>

            <%= render 'flag_sheet_button', sheet: @sheet %>
        </div>
    </div>
</div>

<%= render 'related', sheet:@sheet %>