<% title "#{@sheet.title} by #{@sheet.composer_list.to_s.titleize}"  %>

<div class="container">
    <div class="row">
        <div id="sheet-header" class="col-xs-8">
            <h1><%= @sheet.title %></h1>
            <h4>from <a href="#" class="sheet-author"><%= @sheet.user.name %></a></h4>
        </div>
        <div class="col-xs-4">
            <%= render 'add_to_cart' %>
        </div>
        <hr>
    </div>
    <div class="row">
        <div id="sheet-content" class="col-xs-8">

        <% if @sheet.has_pdf_preview? %>
            <%= image_tag(@sheet.pdf.url(:preview), :class => "sample_sheet") %>
        <% else %>
            <!-- TODO: finalize blank slate when no pdf preview -->
            <%= image_tag("/assets/sheet.png", :class => "sample_sheet") %>
        <% end %>

            <%= render 'disqus' %>
        </div>

        <div id="sheet-sidebar" class="col-xs-4">

            <div class="panel panel-info">
              <div class="panel-body">
                <p><%= @sheet.description %></p>
                <em>Published <%= distance_of_time_in_words(Time.now, @sheet.created_at) %> ago</em>

                <% if @sheet.instruments %>
                    <h4>Instruments</h4>
                    <%= render 'instruments', instruments: @sheet.instruments %>
                <% end %>

                <% if @sheet.genres.any? %>
                    <h4>Genres</h4>
                    <%= render 'tags', tags: @sheet.genres %>
                <% end %>
                <% if @sheet.composers.any? %>
                    <h4>Composers</h4>
                    <%= render 'tags', tags: @sheet.composers %>
                <% end %>

                <% if @sheet.sources.any? %>
                    <h4>Source</h4>
                    <%= render 'tags', tags: @sheet.sources %>
                <% end %>

                <% if @sheet.difficulty %>
                <p>DIFFICULTY: <%= @sheet.difficulty %></p>
                <% end %>

                <br>
            </div>
        </div>

        <%= render 'files' %>

        <%= render 'share' %>

        <a href="<%= edit_sheet_path(@sheet) %>">
            <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-edit"></span> Edit</button>
        </a>

  </div>
</div>
</div>


<%= render 'related' %>