<div class="container">
  <div class="row">
    <h1 class="text-center">Forgot Your Password?</h1>
    <div class="col-lg-4 col-lg-offset-4 white-container">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, defaults: { input_html: { class: 'form-control' }}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: 'Your SheetHub account email address' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send reset instructions", class:"btn btn-wide btn-success" %>
          </div>
        <% end %>

        <br/>
        <%= render "devise/shared/links" %>
    </div>
</div>
</div>

