<%
title "Community Guidelines"
description "Simple rules to a better community."
keywords %w(community guidelines)
%>

<div class="animated-banner">
  <h2>Simple rules to a better community</h2>
  <h1><em class="fa fa-smile-o"></em> SheetHub Community Guidelines</h1>
</div>

<div class="container white-container">
  <br />
  <div class="col-xs-12">
    <p>We created SheetHub to give you the power to distribute your works online, as well as to discover, share and discuss content with others. SheetHub is self-regulated and is open to everyone. Our rules are simple: Be nice and post good stuff.</p>
    <p>
      We commit to continually improve SheetHub as a vibrant and friendly community, to generate exposure for unique and interesting works, and to foster transparency, inclusivity, helpfulness, and mutual respect. In return, we ask that you follow these simple guidelines.
    </p>
    <p>
    Note that this Code of Conduct is a living document that may be amended in the future. We welcome your feedback on this and every other aspect of our community, and we thank you for working with us to make participation a safe, enjoyable, and friendly experience for everyone.
    </p>
    <hr>
  </div>

  <div class="col-xs-6">
    <h3 class="bg-info"><em class="fa fa-smile-o"></em> What To Do</h3>
    <strong>Respect Copyright</strong>
    <p>SheetHub is primarily for showcasing your own, original work. Just as you own the copyright for music you create, others own the copyright for music they create. We expect our community to respect the ownership of the content that is shared, to give credit where it is due, and to take responsibility for what is shared. </p>

    <strong>Share your music</strong>
    <p>SheetHub is a community for sharing and publishing music, so we encourage you to do that! When you create something original, you own the copyright for it, and your work is protected by law. You can upload your score under a <%= link_to "Creative Commons", "#{support_url}#licenses" %> license to give others permission to use your music in only the ways you specify.</p>

    <strong>Be nice.</strong>
    <p>Keep comments constructive. Treat people the way you would like to be treated. </p>

    <strong>Follow our Terms and Policies</strong>
    <p>As a member of the SheetHub community, you agree to follow the terms set out in our <%= link_to "Terms of Service", terms_url %> and <%= link_to "Privacy Policy", privacy_url %>. </p>

    <strong>Give Feedback</strong>
    <p>SheetHub is an open platform built for you! Report bugs, suggest features, and vote on community-proposed features. Together, we can create a great community for musicians! </p>
  </div>

  <div class="col-xs-6">
    <h3 class="bg-danger"><em class="fa fa-frown-o"></em> What NOT To Do</h3>
    <strong>Violate Copyright</strong>
    <p>Don’t share anything publicly that you don’t have the right to. You may not share something publicly if someone else owns the copyright to it, unless of course they have given you permission.</p>

    <strong>Be rude</strong>
    <p>Don't be a jerk. Participate in constructive discussions and respect others.</p>
  </div>

  <div class="col-xs-12">
    <hr>
    <p>The reason for these guidelines is simple: we want to make sure SheetHub is fun for everyone, and we also need to make sure everything is done legally with respect to original creators. Realize that we have the right to enforce the rules by removing content we deem to be in violation of these <%= link_to "Community Guidelines", community_guidelines_url %> or the <%=  link_to "Terms of Service", terms_url %>, and even to ban users who consistently and/or deliberately break the rules. But we don’t want to be doing that. We would much rather have you here as part of our community, so we hope you'll keep these guidelines in mind as you explore SheetHub.</p>
  </div>

</div>