<%
title "Help"
description "SheetHub Help and Frequently Asked Questions"
keywords %w(help faq support frequently/ asked/ questions)
%>

<div id="animated-banner">
    <h1>SheetHub Help</h1>
    <h2>Frequently Asked Questions</h2>
</div>

<div class="container">
<div class="col-xs-8 white-container">
<div class="panel-group" role="tablist" aria-multiselectable="true">
  <h4><i class="fa fa-book"></i> General</h4>
  <%= render "faq_item", id:"sheethub-benefits", question: "What does SheetHub give me?", answer: "<p>SheetHub gives you the ability to easily publish and share  your sheet music, tablature, and score online. You can easily create a page where your fans can view and purchase your works. Signing up also gives you an online profile that enables people to see and purchase all the works you've published on SheetHub. </p><p>All files are securely hosted on SheetHub so you don't need to worry about building a website or storing your files anywhere. Usage information is collected and displayed to you, such as how many times your music are being viewed, downloaded, and purchased.</p><p>SheetHub handles all the technical complexities behind hosting and selling your sheet music online, so you can focus on your musical pursuits. No setup fees, no monthly fees, no hosting fees to worry about. </p> " %>
  <%= render "faq_item", id:"sheethub-costs", question: "How much does SheetHub cost?", answer: "<p> You are free to #{link_to 'Sign Up', new_registration_path(User)} and upload unlimited commercial sheets without ever having to pay anything.</p><p> We only make money when you do. When someone buys your sheet, you receive 80% of the total amount. The remaining 20% goes to SheetHub to pay for hosting fees, server fees, and to fund new features. You are paid instantly and directly to your PayPal account the moment a user completes a purchase. SheetHub does not hold any of your earnings. </p>
    </p>" %>
  <%= render "faq_item", id:"howto-upload", question: "How do I upload my music on SheetHub?", answer: "After signing up, <a href='#{sheet_upload_path}'>Upload</a> to start publishing! You will need at least a printable PDF version of your sheet music to start." %>
  <hr>

  <h4><i class="fa fa-music"></i> Sheet Music</h4>
    <%= render "faq_item", id:"sheet-requirements", question: "What technical requirements do you have for submitted PDFs?", answer: "PDFs submitted must be: <ul><li>portrait oriented</li> <li>free of password protection</li> <li>less than 20 MB in size</li></ul><p>We require PDFs because it is a file format that is easily printable and require no specific music notation software installed to view. Users will be able to view and print your works without hassle.</p>"%>
     <%= render "faq_item", id:"sheet-recommendations", question: "Any other recommendations on how to format my PDF?", answer: "Users will be able to view a cover page which will be automatically created from the first page of your PDF. Customers are better able to make a purchasing decision if they can see a sample of your music that reflects the difficulty, range and uniqueness of your piece."%>
     <%= render "faq_item", id:"sheet-metadata", question: "What other information can I submit with my sheet music?", answer: "Submitting additional information about your sheet music - instruments, composers, genres, and sources - will help other users find and ultimately purchase your sheet music. SheetHub also uses this information in our internal recommendations system. The more detailed information you provide, the more likely that your sheet music appears in recommended results. "%>
     <%= render "faq_item", id:"sheet-additional-files", question: "Can I add additional files together with my PDF?", answer: "<strong>Yes!</strong> You can add up to 5 supporting files such as audio files and music notation software specific files through your sheet's edit page. Each file must be less than 20MB in size. "%>
      <%= render "faq_item", id:"upload-limit", question: "How many sheets can I upload?", answer: "You get unlimited uploads for commercial sheets. There is a soft limit of 25 free (non-commercial) sheets. The limit is in place to prevent abuse. If you wish to have more, #{link_to 'Upgrade', upgrade_path} whenever you are ready." %>
      <%= render "faq_item", id:"howto-embed-links", question: "How can I link to my Youtube/Vimeo/Soundcloud?", answer: "<p>In your sheet description, you can add links to your hosted videos and SheetHub will automagically generate the video player for you. See an example below. Youtube, Vimeo, and Soundcloud embeds are supported. For example: </p> <img src='http://i.imgur.com/NoYhHmC.png' /><p>The above description becomes:</p><img src='http://i.imgur.com/ijjnhv6.png' />" %>

  <hr>
  <h4><i class="fa fa-shopping-cart"></i> Purchases</h4>
    <%= render "faq_item", id:"my-purchases", question: "Where can I find my purchases?", answer: "You can view all your purchases on the <strong>My Library</strong> page through the user dropdown. Click on the files you wish to download from the sheet page whenever you are ready. "%>
  <hr>

  <h4><i class="fa fa-line-chart"></i> Payments, Sales, and Earnings</h4>
  <%= render "faq_item", id:"payment-flow", question: "How does SheetHub handle payments?", answer: "<p>SheetHub uses PayPal to process payments. PayPal is available in multiple countries and currencies, and accepts multiple modes of payment. Let's briefly walk through a buying user's purchasing flow. From your sheet's page, users will see a Buy Now button:</p>
    <img src='http://i.imgur.com/BazYJiN.png' />
    <p>Which will open a modal overlay:</p>
    <img src='http://i.imgur.com/RUCReKW.png' />
    <p>Clicking checkout will bring them to Paypal to authorize the purchase:</p>
    <img src='http://i.imgur.com/giJKV9C.png' style='width: 600px;'/>
    <p>Once the user has completed the authorization process, you will receive your earnings directly to your Paypal account. The user will, upon a successful purchase, be able to download the files you've uploaded for your sheet through SheetHub. Users cannot share their download links, as they are private URLs. PDF Downloads may also be individually stamped with the user's name and email to discourage unauthorized sharing. </p>
  "%>
  <%= render "faq_item", id:"payment-security", question: "Do you store my credit card information?", answer: "<strong>No credit card information is stored on our server!</strong> We use PayPal, one of the most secure and reputable payment processors available. PayPal automatically encrypts your confidential information in transit using the Secure Sockets Layer protocol (SSL) with an encryption key length of 128-bits (the highest level commercially available.) Once your information reaches the PayPal site, it resides on a server that is heavily guarded both physically and electronically. PayPal servers sit behind an electronic firewall and are not directly connected to the internet, so your private information is available only to authorized computers. Visit <a href='https://www.paypal.com/sg/webapps/mpp/paypal-safety-and-security'>Paypal Security Center</a> for more details. "%>
  <%= render "faq_item", id:"earnings-calculation", question: "Someone buys my music for $5, how much do I get?", answer: "First, SheetHub will take 20% ($1) to pay for hosting fees, server fees, and to fund new features. Your 80%, $4.00 are paid instantly and directly to your PayPal account the moment a user completes a purchase. Note that you earn 85% as a Pro member. There are no setup fees, no monthly fees, no hosting fees to worry about."%>
  <%= render "faq_item", id:"paypal-fee", question: "Why is there an additional fee from PayPal?", answer: "PayPal is the payment platform used by SheetHub. It handles all credit card processing and takes the place of a credit card merchant. All merchants charge a fee to process a credit card transaction, Paypal included. PayPal will take $0.30 + 2.9% of the transaction amount."%>
  <%= render "faq_item", id:"sale-notification", question: "How do I know when I've made a sale?", answer: "<p>SheetHub will send a friendly email whenever you make a sale. It will be sent to the email address you registered with. If someone attempts to buy your music but the transaction cannot be completed (e.g. due to invalid PayPal account information) then you will also be notified.</p><p>You can view detailed sales statistics - both recent and all-time sales - detailing who has bought your works, approximated earnings,  useful charts and other statistics from the <strong>Sales</strong> page. </p> "%>
  <%= render "faq_item", id:"when-payout", question: "When do I get paid?", answer: "You are paid instantly and directly to your PayPal account the moment a user completes a purchase. SheetHub does not hold your money. You will never have to wait."%>
  <%= render "faq_item", id:"paypal-transfer", question: "What do you need my PayPal Email for?", answer: "We need it for you to directly receive your sales earnings. SheetHub does not hold any of your earnings, so we need a verified Paypal email account to directly send your earnings to. "%>
  <%= render "faq_item", id:"payment-information", question: "How do I update my payment information?", answer: "You can view and update your payment information by going to your profile <strong>Settings</strong> from the user dropdown."%>

  <hr>

  <h4><i class="fa fa-legal"></i> Publishing Rights and Copyright</h4>
    <%= render "faq_item", id:"licenses", question: "What licenses do I choose?", answer:"<ul>
<li><strong>All rights reserved.</strong> As the copyright holder, you reserve, or hold for your own use, all the rights provided by copyright law on your work, such as distribution, performance, and creation of derivative works.</li>
<li><strong>Creative Commons. </strong>
Offering your work under a <a href='https://creativecommons.org/choose/'>Creative Commons</a> license does not mean giving up your copyright. It means offering some of your rights to any member of the public but only under certain conditions.
<ul>
<li>Attribution.
You let others copy, distribute, display, and perform your copyrighted work but only if they give credit the way you request.</li>
<li>Non-Commercial.
You let others copy, distribute, display, and perform your work — and derivative works based upon it — but for noncommercial purposes only.</li>
<li>No Derivative Works.
You let others copy, distribute, display, and perform only verbatim copies of your work, not derivative works based upon it.</li>
<li>Share Alike.
You allow others to distribute derivative works only under a license identical to the license that governs your work.</li>
</ul
</li>
<li><strong><a href='http://creativecommons.org/publicdomain/zero/1.0/'>Creative Commons Zero</a>.</strong> You waive the interest in your works and thereby place it as completely as possible in the public domain, so that others may freely build upon, enhance and reuse the works for any purposes without restriction under copyright.</li>
<li><strong>Public Domain Mark. </strong>
The Public Domain Mark is recommended for works that are free of known copyright around the world. These will typically be very old works. It is not recommended for use with works that are in the public domain in some jurisdictions if they also known to be restricted by copyright in others.</li>
</ul>
    " %>

  <%= render "faq_item", id:"publishing-rights", question: "Do I need to have publishing rights to the sheet music?", answer: "<p><strong>Yes</strong>, we take publishing rights and copyright laws very seriously. You accept that, as part of your sheet music submission, you possess either one of the following type of rights:</p>
<ul>
<li>Original composition - the sheet music is entirely your own</li>
<li>Publishing and distribution rights - you have worked with a publisher or copyright holder and received approval to sell the sheet music on a worldwide basis</li>
<li>Unique version of a public domain sheet music - you have arranged a public domain work in a unique way that differentiates it from products currently available for sale on SheetHub.</li>
</ul>"%>
  <%= render "faq_item", id:"arrangements", question: "Can I submit an arrangement of public domain sheet music?", answer: "Yes, you may submit an arrangement of public domain sheet music as long as you have added additional value that is not currently represented on SheetHub. This includes an unusual instrumentation, a level-specific arrangement or an arrangement in a style that is different than the original."%>
  <%= render "faq_item", id:"content-rights", question: "Does SheetHub take any ownership of the content I upload?", answer: "No. You will always fully own your content. You are free to remove it at any time. SheetHub just asks for the minimum amount of rights necessary to run the site, such as permission to show your sheet page and host your files." %>
  <%= render "faq_item", id:"copyright-report", question: "How do I report a copyright infringement?", answer:"<p>If you are a copyright owner or an agent of a copyright owner and believe that any User Material or other content that has been made available on or through the Website infringes upon your copyrights, provide the following information on the <strong>Report</strong> page:</p>

        <ul>
        <li> a statement that you have identified material on the Website which infringes your copyright or the copyright of a third party on whose behalf you are entitled to act;</li>
        <li>a description of the copyrighted work that you claim has been infringed;</li>
        <li>a description specifying the material that you claim is infringing and the location of the material on our (including, for example, a URL and/or screen shot);</li>
        your full name, telephone number and e-mail address on which you can be contacted;
        <li>a statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law;</li>
        <li>a statement by you that the information in the Notice is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed; and</li>
        <li>an electronic or physical signature (which may be a scanned copy) of a person authorized to act on behalf of owner of the work that is allegedly infringed.</li>
        </ul>" %>

  <hr>
  <h4><i class="fa fa-certificate"></i> PDF Stamping</h4>
    <%= render "faq_item", id:"what-pdf-stamping", question: "What does PDF Stamping look like?", answer: "<p>It looks like this:</p>
<img src='http://i.imgur.com/vHm8dMh.png' style='width: 100%'/> <p>Enabling PDF Stamping will stamp the buyer's name and email address on their PDF download. It serves as a disincentive for customers who might abuse their ownership of your work.</p><p>PDF Stamps are only applied for commercial sheets.</p>"%>

  <hr>
  <h4><i class="fa fa-info-circle"></i> Miscellaneous</h4>
    <%= render "faq_item", id:"who-makes-sheethub", question: "Who makes SheetHub?", answer: "#{link_to "This person.", "https://github.com/Leventhan"} I’m primarily a software engineer. I started playing classical guitar at a young age and regularly play in my spare time. I've been looking for a decent community/marketplace for written music and have been disappointed so far, so I decided to try my hand at building one. <a href='mailto:yosriady@gmail.com'>Let me know</a> what you think! Your feedback will be of tremendous help in guiding SheetHub's continuous development. " %>
</div>


</div>
<div class="col-xs-4">
    <div class="bg-info blurb"><strong><i class="fa fa-info-circle"></i> Alpha</strong> <p>We are currently in public alpha, which means things may not work perfectly – yet. If you encounter something that looks broken, please let us know!</p></div>
    <hr>
    <div class="well">
        <a href="mailto:yosriady@gmail.com" class="btn btn-block btn-default"><i class="fa fa-paper-plane-o"></i> Contact Us</a>
    </div>
    <div class="panel panel-default">
        <%= render 'layouts/twitter_widget' %>
        <%= render 'layouts/facebook_widget' %>
    </div>

</div>

</div>

<script>
  $(document).on("page:change", function() {
    var faq_id = location.hash;
    $(location.hash).collapse("toggle");
  });
</script>
