<% title "Frequently Asked Questions"  %>
<div class="container">
<h2>Help</h2>

<div class="col-xs-9">

<div class="panel-group" role="tablist" aria-multiselectable="true">
  <h4><i class="fa fa-line-chart"></i> Sales and Earnings</h4>
  <%= render "faq_item", id:"earnings-calculation", question: "How are earnings calculated?", answer: "TODO"%>
  <%= render "faq_item", id:"paypal-transfer", question: "What do you need my Paypal Email for?", answer: "We need it to send in your sales earnings at the end of every month."%>
  <%= render "faq_item", id:"payout-dates", question: "When do I get my sales earnings? What are payout dates?", answer: "Your earnings are paid out automatically at <strong>the end of every month</strong> to your Paypal account. You can request an early payout to immediately send in sales made since the last payout date to your account. Do note however, that <em>each</em> payout request is subject to Paypal transaction fees, and requesting early payouts can lower your overall earnings. If you can, we recommend waiting for your monthly scheduled payments to maximize your earnings."%>
  <%= render "faq_item", id:"earnings-payout-date", question: "When are earnings paid?", answer: "Earnings are paid within 30 days after the end of each month, with a $20 minimum for payment. Please note that all earnings will be earned, calculated, and paid out in US Dollars."%>

  <hr>

  <h4><i class="fa fa-book"></i> Publishing Rights and Copyright</h4>
  <%= render "faq_item", id:"arrangements", question: "Can I submit an arrangement of public domain sheet music?", answer: "Yes, you may submit an arrangement of public domain sheet music as long as you have added additional value that is not currently represented on SheetHub. This includes an unusual instrumentation, a level-specific arrangement or an arrangement in a style that is different than the original."%>
  <%= render "faq_item", id:"publishing-rights", question: "Do I need to have publishing rights to the sheet music?", answer: "<p>Yes, we take publishing rights and copyright laws very seriously. You will be asked, as part of your sheet music submission, to validate what type of rights you currently have:</p>
<ul>
<li>Original composition - the sheet music is entirely your own</li>
<li>Publishing and distribution rights acquired - you have worked with a publisher or copyright holder and received approval to sell the sheet music on a worldwide basis</li>
<li>Unique version of a public domain sheet music - you have arranged a public domain work in a unique way that differentiates it from products currently available for sale on SheetHub.</li>
</ul>"%>
  <%= render "faq_item", id:"copyright-report", question: "How do I report a copyright infringement?", answer:"<p>If you are a copyright owner or an agent of a copyright owner and believe that any User Material or other content that has been made available on or through the Website infringes upon your copyrights, provide the following information on the Report page:</p>

        <ul>
        <li> a statement that you have identified material on the Website which infringes your copyright or the copyright of a third party on whose behalf you are entitled to act;</li>
        <li>a description of the copyrighted work that you claim has been infringed;</li>
        <li>a description specifying the material that you claim is infringing and the location of the material on our (including, for example, a URL and/or screen shot);</li>
        your full name, telephone number and e-mail address on which you can be contacted;
        <li>a statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law;</li>
        <li>a statement by you that the information in the Notice is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed; and</li>
        <li>an electronic or physical signature (which may be a scanned copy) of a person authorized to act on behalf of owner of the work that is allegedly infringed.</li>
        </ul>" %>
    <%= render "faq_item", id:"licenses", question: "What licenses do I choose?", answer:"<ul>
<li><strong>None. (All rights reserved)</strong> As the copyright holder, you reserve, or hold for your own use, all the rights provided by copyright law on your work, such as distribution, performance, and creation of derivative works.</li>
<li><strong>Creative Commons. </strong>
Offering your work under a <a href='https://creativecommons.org/choose/'>Creative Commons</a> license does not mean giving up your copyright. It means offering some of your rights to any member of the public but only under certain conditions.
<ul>
<li>Attribution.
You let others copy, distribute, display, and perform your copyrighted work but only if they give credit the way you request.</li>
<li>Non-Commercial.
You let others copy, distribute, display, and perform your work — and derivative works based upon it — but for noncommercial purposes only.</li>
<li>No Derivative Works.
You let others copy, distribute, display, and perform only verbatim copies of your work, not derivative works based upon it.</li>
<li>Share Alike.
You allow others to distribute derivative works only under a license identical to the license that governs your work.</li>
</ul
</li>
<li><strong><a href='http://creativecommons.org/publicdomain/zero/1.0/'>Creative Commons Zero</a>.</strong> You waive the interest in your works and thereby place it as completely as possible in the public domain, so that others may freely build upon, enhance and reuse the works for any purposes without restriction under copyright.</li>
<li><strong>Public Domain Mark. </strong>
The Public Domain Mark is recommended for works that are free of known copyright around the world. These will typically be very old works. It is not recommended for use with works that are in the public domain in some jurisdictions if they also known to be restricted by copyright in others.</li>
</ul>
    " %>
</div>


</div>
<div class="col-xs-3">
    <h3>Have more questions?</h3>
    <div class="well">
        <a href="mailto:yosriady@gmail.com" class="btn btn-block btn-lg btn-default"><i class="fa fa-paper-plane-o"></i> Contact Us</a>
    </div>
    <div class="panel panel-default">
        <%= render 'layouts/twitter_widget' %>
        <%= render 'layouts/facebook_widget' %>
    </div>

</div>

</div>

<script>
  $(document).on("page:change", function() {
    var faq_id = location.hash;
    $(location.hash).collapse("toggle");
  });
</script>
