<% title "Frequently Asked Questions"  %>

<div id="banner">
    <h1>Frequently Asked Questions</h1>
</div>
<div class="container">
<div class="col-xs-9">

<div class="panel-group" role="tablist" aria-multiselectable="true">
  <h4><i class="fa fa-line-chart"></i> Sales and Earnings</h4>
  <%= render "faq_item", id:"earnings-calculation", question: "How are earnings calculated?", answer: "TODO"%>
  <%= render "faq_item", id:"paypal-transfer", question: "What do you need my Paypal Email for?", answer: "We need it to send in your sales earnings at the end of every month."%>
  <%= render "faq_item", id:"payout-dates", question: "When do I get my sales earnings? What are payout dates?", answer: "Your earnings are paid out automatically at <strong>the end of every month</strong> to your Paypal account. You can request an early payout to immediately send in sales made since the last payout date to your account. Do note however, that <em>each</em> payout request is subject to Paypal transaction fees, and requesting early payouts can lower your overall earnings. If you can, we recommend waiting for your monthly scheduled payments to maximize your earnings."%>
  <%= render "faq_item", id:"earnings-payout-date", question: "When are earnings paid?", answer: "Earnings are paid within 30 days after the end of each month, with a $20 minimum for payment. Please note that all earnings will be earned, calculated, and paid out in US Dollars."%>

  <hr>

  <h4><i class="fa fa-book"></i> Publishing Rights and Copyright</h4>
  <%= render "faq_item", id:"arrangements", question: "Can I submit an arrangement of public domain sheet music?", answer: "Yes, you may submit an arrangement of public domain sheet music as long as you have added additional value that is not currently represented on SheetHub. This includes an unusual instrumentation, a level-specific arrangement or an arrangement in a style that is different than the original."%>
  <%= render "faq_item", id:"publishing-rights", question: "Do I need to have publishing rights to the sheet music?", answer: "<p>Yes, we take publishing rights and copyright laws very seriously. You will be asked, as part of your sheet music submission, to validate what type of rights you currently have:</p>
<ul>
<li>Original composition - the sheet music is entirely your own</li>
<li>Publishing and distribution rights acquired - you have worked with a publisher or copyright holder and received approval to sell the sheet music on a worldwide basis</li>
<li>Unique version of a public domain sheet music - you have arranged a public domain work in a unique way that differentiates it from products currently available for sale on SheetHub.</li>
</ul>"%>
  <%= render "faq_item", id:"infringement-flagging", question: "How do I let SheetHub know about a potential copyright infringement?", answer: "Send a message with all of the details and proof of copyright ownership and examples of the potential infringement via the “Report” button on the infringing sheet page"%>
  <%= render "faq_item", id:"copyright-report", question: "How do I report a copyright infringement?", answer:"<p>If you are a copyright owner or an agent of a copyright owner and believe that any User Material or other content that has been made available on or through the Website infringes upon your copyrights, provide the following information on the Report page:</p>

        <ul>
        <li> a statement that you have identified material on the Website which infringes your copyright or the copyright of a third party on whose behalf you are entitled to act;</li>
        <li>a description of the copyrighted work that you claim has been infringed;</li>
        <li>a description specifying the material that you claim is infringing and the location of the material on our (including, for example, a URL and/or screen shot);</li>
        your full name, telephone number and e-mail address on which you can be contacted;
        <li>a statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law;</li>
        <li>a statement by you that the information in the Notice is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed; and</li>
        <li>an electronic or physical signature (which may be a scanned copy) of a person authorized to act on behalf of owner of the work that is allegedly infringed.</li>
        </ul>" %>
</div>


</div>
<div class="col-xs-3">
    <h3>Have more questions?</h3>
    <div class="well">
        <a href="mailto:yosriady@gmail.com" class="btn btn-block btn-lg btn-default"><i class="fa fa-paper-plane-o"></i> Contact Us</a>
    </div>
    <div class="panel panel-default">
        <%= render 'layouts/twitter_widget' %>
        <%= render 'layouts/facebook_widget' %>
    </div>

</div>

</div>

<script>
  $(document).on("page:change", function() {
    var faq_id = location.hash;
    $(location.hash).collapse("toggle");
  });
</script>
