<% title "Checkout" %>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div id="orders-info">
                <h4>Your Orders</h4>
                <p class="bg-primary">You're one step away from <strong>Unlimited Access</strong> to the following sheets</p>
                <ul id="cart">
                    <%= render 'carts/cart_items', orders: @cart.orders %>
                    <li><div class="cart-item cart-total">
                        <strong><p>ORDER TOTAL</p></strong>
                        <p><%= "$#{@cart.total}" %></p>
                    </div></li>
                </ul>
            </div>

            <strong>What happens next?</strong>
            <p>You'll be able to view and print all of your purchased sheet music anytime, on any platform and device - without ever paying again. And we'll send you an email receipt containing your full purchase details. Enjoy! </p>
        </div>
        <div class="col-xs-4">
            <h4>Your Payment Details</h4>
            <%= render 'carts/paypal_logo' %>

            <div class="well">
                <a href="<%= carts_paypal_checkout_path %>" id="paypal-checkout-btn" data-no-turbolink='true' class="btn btn-success btn-block btn-lg"><span class="glyphicon glyphicon-ok"></span> Complete order now</a>
            </div>
            <p class="text-center">After clicking 'Complete order now', you will be redirected to the PayPal page to finish your transaction. We never save your payment details and the order is protected by secure connection.</p>
        </div>
    </div>
</div>

<%= render 'sheets/related', sheet:@cart.sheets.first if @cart.orders.any? %>