<% title "Thank You" %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1 class="text-center">Thank You For Your Purchase</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <% if @purchased_sheets.each do |sheet| %>
              <div style="margin-left: 40%;">
                <%= render 'sheets/sheet', sheet: sheet %>
              </div>
              <% end.empty? %>
              <h2><span class="glyphicon glyphicon-eye-close"></span></h2>
              <h2>No Sheets purchased.</h2>
              <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">You now have unlimited file access for your purchase. Visit your profile to view all of your purchased sheets.</h3>
        </div>
        <div class="share-buttons">
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= sheet_url(@purchased_sheets[0]) %>" class='facebook share'></a>
            <a href="https://plus.google.com/share?url=<%= sheet_url(@purchased_sheets[0]) %>" class='google share'></a>
            <a href="https://twitter.com/home?status=<%= @purchased_sheets[0].title %> <%= sheet_url(@purchased_sheets[0]) %>" class='twitter share'></a>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <a href="<%= user_profile_path(current_user.username) %>" class="btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-user"></span> Go to your Profile</a>
        </div>
    </div>
</div>