<% title "Upgrade to #{@subscription.membership_type.titleize}" %>

<div class="container">
    <div class="row">
        <h1>Thank You For Your Purchase</h1>
        <div class="col-xs-8 white-container">
            <p class="bg-info"><em class="fa fa-thumbs-up"></em> You are now a proud SheetHub <strong><%= @subscription.membership_type.titleize %></strong> member!</p>

            <hr>
            <strong>What happens next?</strong>
            <p>You now have access to premium <%= @subscription.membership_type.titleize %> features and benefits. We've also sent you an email receipt containing your payment details. Enjoy, and let your friends know about SheetHub! Together we can create a fantastic community for musicians! </p>
            <hr>

            <a href="<%= user_membership_settings_url %>"><button type="button" class="btn btn-lg btn-success pull-right"><em class="fa fa-user"></em> Go to your Profile</button></a>
        </div>
        <div class="col-xs-4">
            <p class="bg-info"><em class="fa fa-star"></em> You now enjoy all <%= @subscription.membership_type.titleize %> membership benefits: </p>
            <%= render 'subscriptions/pro_table', nobutton: true if @subscription.membership_type == 'pro' %>
            <%= render 'subscriptions/plus_table', nobutton: true if @subscription.membership_type == 'plus' %>
        </div>
    </div>
</div>
