<div class="container">
  <div class="row">
    <h2>Sign in to continue</h2>
    <div class="col-lg-4 col-lg-offset-4 white-container">

        <%= render "devise/shared/omniauth_links" %>
        <hr>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: { input_html: { class: 'form-control' }}) do |f| %>
        <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        </div>

        <div class="form-actions">
            <%= f.button :submit, "Sign in", class:"btn btn-success btn-wide" %>
            <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn btn-default btn-wide" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>
</div>