<li>
    <a href="<%= download_asset_url(asset) %>" data-no-turbolink='true' title="Last updated on <%= asset.updated_at.strftime('%e %b %Y') %>" data-toggle='tooltip' data-placement='top'>
    <div class="sheet-file">
        <p><em class="fa fa-download"></em> <%= asset.filename %> <strong><%= number_to_human_size(asset.filesize) %></strong></p>
    </div>
    </a>
    <%= link_to raw("<em class='fa fa-remove'></em>"), asset,  method: :delete, data: { confirm: 'This will permanently remove this file. Are you sure?' }, class:"sheet-delete pull-right" if params[:action].in?(["edit", "create"])  %>
</li>