<h1>Thank you for your purchase!</h1>
<p>Hi <%= @buyer.display_name %>, </p>
<p>Thank you for purchasing <%= link_to @sheet.title, sheet_url(@sheet) %>! You can view and print all of your purchased sheet music anytime, on any platform and device - without ever paying again. You can directly download the files from the sheet page <%= link_to 'here', sheet_url(@sheet) %>. Enjoy!
</p>
<p>This email message will serve as your receipt.</p>

<div class="summary">
    <h3>Payment Summary</h3>
    <em>Sheet Purchased</em>
    <p><%= link_to @sheet.title, sheet_url(@sheet) %></p>
    <em>Purchase Date</em>
    <p><%= @order.purchased_at.strftime('%A, %d %b %Y') %></p>
    <em>Sheet Price</em>
    <p><%= number_to_currency(@order.price) %></p>
    <em>Amount Paid</em>
    <p><%= number_to_currency(@order.amount) %></p>
    <em>Tracking Id</em>
    <p><%= @order.tracking_id %></p>
</div>

<p>
  To access all your purchases, log in to SheetHub and go to <%= link_to "My Library", user_library_url %>.
</p>
<a href="<%= user_library_url %>" class="btn"> View My Library</a>