<h1>Congratulations!</h1>
<p>Hi <%= @publisher.display_name %>, </p>
<p>Good news! <strong>You've made a sale!</strong> <%= link_to @buyer.display_name, user_profile_url(@buyer.username) %> purchased <%= link_to @sheet.title, sheet_url(@sheet) %>.
</p>
<p>This email message will serve as your receipt.</p>

<div class="summary">
    <h3>Payment Summary</h3>
    <em>Sheet Purchased</em>
    <p><%= link_to @sheet.title, sheet_url(@sheet) %></p>
    <em>Purchase Date</em>
    <p><%= @order.purchased_at.strftime('%A, %d %b %Y') %></p>
    <em>Sheet Price</em>
    <p><%= number_to_currency(@order.price) %></p>
    <em>Amount Paid</em>
    <p><%= number_to_currency(@order.amount) %></p>
    <em>Estimated Earnings</em>
    <p><%= number_to_currency(@order.royalty) %></p>
    <em>Tracking Id</em>
    <p><%= @order.tracking_id %></p>
    <em>Billing Information</em>
    <p><%= @buyer.billing_full_name %></p>
    <p><%= @buyer.billing_address_line_1 %></p>
    <p><%= @buyer.billing_address_line_2 %></p>
    <p><%= @buyer.billing_city %></p>
    <p><%= @buyer.billing_state_province %></p>
    <p><%= @buyer.billing_country %></p>
    <p><%= @buyer.billing_zipcode %></p>
    <em>IP Address</em>
    <p><%= @buyer.last_sign_in_ip.to_s %></p>
</div>

<p>You can view more sales details from the <a href="<%= user_sales_url %>"> Sales</a> dashboard.</p>
<a href="<%= user_sales_url %>" class="btn"> View Sales</a>