<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <%= render 'layouts/email_styles' %>
    </head>
    <body>
        <h2><a href="<%= root_url %>">SheetHub</a></h2>
        <div class="container">
            <h1>Welcome to SheetHub!</h1>
            <p>Hi <%= @email %>,</p>
            <p>Welcome to SheetHub! Confirm your email address below to complete your registration:</p>

            <%= link_to 'Confirm my email', confirmation_url(@resource, confirmation_token: @token), class:"btn" %>

            <p>For help or product support, please visit our <%= link_to "Support Center", faq_url %>.</p>

            <p>Cheers,</p>
            <p>SheetHub</p>
        </div>
        <p class="footer">Sent with &hearts; from SheetHub</p>
    </body>
</html>