<footer class="panel-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <a class="brand" href="<%= root_path %>" >SheetHub</a>
                <p class="copyright">An open platform built for musicians</p>
                <ul class="list-inline">
                    <li><%= link_to "Help", faq_path %></li>
                    <li> 路 </li>
                    <li><%= link_to "Guidelines", community_guidelines_path %></li>
                    <li> 路 </li>
                    <li><%= link_to "Terms", terms_path %></li>
                    <li> 路 </li>
                    <li><%= link_to "Feedback","https://admin.userreport.com/Websites/CrowdIntelligenceExample.aspx?WebsiteId=78c6cc74-05f2-4833-804c-c7acf9e3c9a7#ci/ideas" %></li>
                    <li> 路 </li>
                    <li><a href="mailto:support@sheethub.co">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <a href="https://www.facebook.com/SheetHub" class="social-link"><em class="fa fa-facebook-square"></em></a>
                <a href="https://twitter.com/SheetHub" class="social-link"><em class="fa fa-twitter-square"></em></a>
                <a href="https://plus.google.com/+SheetHubCommunity" class="social-link"><em class="fa fa-google-plus-square"></em></a>
                <!-- <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" style="opacity: 0.4; padding-top: 25px;"/></a> -->
            </div>
    </div>
    </div>
</footer>
