<footer class="panel-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <a class="brand" href="<%= root_url %>" >SheetHub</a>
                <p class="copyright">The easiest publishing platform for musicians</p>
                <ul class="list-inline">
                    <li>© 2015 SheetHub</li>
                    <li> | </li>
                    <li><%= link_to "Features", features_url %></li>
                    <li> · </li>
                    <li><a href="http://blog.sheethub.co">Blog</a></li>
                    <li> · </li>
                    <li><%= link_to "Support", support_url %></li>
                    <li> · </li>
                    <li><a href="#" onclick="_urq.push(['Feedback_Open'])">Feedback</a></li>
                    <li> · </li>
                    <li><%= link_to "Guidelines", community_guidelines_url %></li>
                    <li> · </li>
                    <li><%= link_to "Terms", terms_url %></li>
                    <li> · </li>
                    <li><%= link_to privacy_url do %>Privacy<% end %></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <a href="https://www.facebook.com/SheetHub" class="social-link" data-toggle="tooltip" data-placement="top" title="Facebook"><em class="fa fa-facebook-square"></em></a>
                <a href="https://twitter.com/SheetHub" class="social-link" data-toggle="tooltip" data-placement="top" title="Twitter"><em class="fa fa-twitter-square"></em></a>
                <a href="https://plus.google.com/+SheetHubCommunity" class="social-link" data-toggle="tooltip" data-placement="top" title="Google+"><em class="fa fa-google-plus-square"></em></a>
                <a href="http://blog.sheethub.co/" class="social-link" data-toggle="tooltip" data-placement="top" title="SheetHub Blog"><em class="fa fa-pencil-square"></em></a>
                <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" style="opacity: 0.4; padding-top: 25px;"/></a>
            </div>
    </div>
    </div>
</footer>
