<!-- Don't render banner if on individual sheets page -->
<%= render 'layouts/share_banner' if current_user && action_name != "show" %>
<%= render 'layouts/sign_up_banner' if !current_user && action_name != "show" %>

<footer class="panel-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand" href="<%= root_path %>">© 2014 SheetHub</a>
                <ul class="list-inline">
                    <li><a href="<%= about_path %>">About</a></li>
                    <li> · </li>
                    <li><a href="<%= faq_path %>">FAQ</a></li>
                    <li> · </li>
                    <li><%= link_to "Terms", terms_path %></li>
                    <li> · </li>
                    <li><%= link_to "Privacy", privacy_path %></li>
                </ul>
        </div>
    </div>
</footer>
