<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>" >SheetHub</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="nav navbar-nav navbar-left">
      <%= render 'layouts/searchbar' %>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <%= render 'layouts/tags_dropdown' %>
        <%= render 'layouts/community_dropdown' %>
        <li><%= link_to features_url do %><em class="fa fa-star"></em> Features<% end %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to sheet_upload_url do %><em class="fa fa-plus"></em> Upload<% end %></li>
        <%= render 'layouts/user_dropdown' %>
      <% else %>
        <li><a href="<%= new_user_session_url %>">Sign In</a></li>
        <li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= render 'layouts/alpha_bar' %>