<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>" >SheetHub</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <%= render 'layouts/tags_dropdown' %>
        <%= render 'layouts/community_dropdown' %>
        <li><%= link_to features_url do %><em class="fa fa-star"></em> Features<% end %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown"><em class="fa fa-arrow-up"></em> Upload <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to sheet_upload_url do %><em class="fa fa-file-pdf-o"></em> PDF + files<% end %></li>
            <li><%= link_to "#" do %><em class="fa fa-file-code-o"></em> XML <span class='badge fade-bg'>SOON</span><% end %></li>
          </ul>
        </li>


        <%= render 'layouts/user_dropdown' %>
      <% else %>
        <li><a href="<%= new_user_session_url %>">Sign In</a></li>
        <li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
      <% end %>
      </ul>
      <%= render 'layouts/searchbar' %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= render 'layouts/alpha_bar' %>