<div class="nav-strip">
  <div class="container-fluid">
  <ul class="list-inline">
    <li><i class="fa fa-bookmark"></i></li>
    <li><a href=<%= best_sellers_path %>>Best Sellers</a></li>
    <li><span class="divider"></span></li>
    <li><i class="fa fa-tags"></i></li>
    <li><a href="<%= instruments_path %>">Instruments</a></li>
    <li><a href="<%= genres_path %>">Genres</a></li>
    <li><a href="<%= composers_path %>">Composers</a></li>
    <li><a href="<%= sources_path %>">Sources</a></li>
  </ul>
  </div>
</div>