<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.username %></a>
  <ul class="dropdown-menu" role="menu">

  <% if current_user.finished_registration? %>
    <li><a href="<%= user_profile_path(current_user.username) %>"><i class="fa fa-user"></i> Profile</a></li>
    <li><a href="<%= user_settings_path %>"><i class="fa fa-cog"></i> Settings</a></li>
    <hr>
    <li><a href="<%= user_purchases_path %>"><i class="fa fa-shopping-cart"></i> Purchases</a></li>
    <li><a href="<%= user_private_sheets_path %>"><i class="fa fa-eye-slash"></i> Private Sheets</a></li>
    <% if current_user.has_published %><li><a href="<%= user_sales_path %>"><i class="fa fa-line-chart"></i> Sales</a></li><% end %>
    <li><a href="<%= user_trash_path %>"><i class="fa fa-trash"></i> Trash</a></li>
  <% end %>
    <hr>
    <li><%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Logout<% end %></li>
  </ul>
</li>