<!DOCTYPE html>
<html>
<head>
  <title>Sheethub</title>
  <meta name="description" content="SheetHub is a super simple way to publish and share your sheet music online. Upload, search, rate, and share your favourite sheet music on SheetHub.">
  <%= favicon_link_tag 'images/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
