<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= metamagic site: "SheetHub", title: [:title, :site], separator: " - ", description: "SheetHub is the easiest publishing platform for musicians. A super simple way to publish and share your sheet music, score, and tablature online. Publish, search, rate, and share your favourite works on SheetHub.", keywords: %w(sheet\ music score tablature self\ publishing platform) %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= include_gon %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/google_analytics_sdk' %>
</head>
<body>
<%= render 'layouts/fb_sdk' %>

<div id="wrap">
    <%= render 'layouts/navbar' %>
    <%= render "layouts/flash_messages", flash: flash %>
    <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
